<div class="object-container">
  <header class="object-header">
    <div class="object-headings">
      <a class="h5" [routerLink]="['/objects']" *ngIf="screen !== 'sm'">Объекты недвижимости</a>
      <h1>{{ apartmentComplex.name }}</h1>
    </div>
    <div class="object-header-image" *ngIf="screen !== 'sm'">
      <app-responsive-image [xl]="apartmentComplex.logoXl" [lg]="apartmentComplex.logoLg" [md]="apartmentComplex.logoMd"
                            [xs]="apartmentComplex.logoSm" [sm]="apartmentComplex.logoSm"
                            [alt]="apartmentComplex.logoAlt"  [title]="apartmentComplex.logoTitle"></app-responsive-image>
    </div>
  </header>
  <div class="object-top-info">
    <div class="object-top-text" [innerHTML]="apartmentComplex.previewText | paragraphs | quotes">
    </div>
    <div class="object-top-contacts">
      <div class="object-top-contact">
        <svg class="geolocation">
          <use xlink:href="assets/sprites/icons.svg#map_pin"></use>
        </svg>
        <span>{{ apartmentComplex.areaName }}</span>
      </div>
      <div class="object-top-contact" *ngIf="apartmentComplex.site">
        <div class="company-contact-icon">
          <svg class="web">
            <use xlink:href="assets/sprites/icons.svg#web"></use>
          </svg>
        </div>
        <a class="link" [href]="apartmentComplex.site" rel="nofollow noopener" target="_blank">{{ apartmentComplex.site | domain}}</a>
      </div>
    </div>
  </div>
</div>

<div class="full-image">
  <app-responsive-image [xl]="apartmentComplex.detailImageXl" [lg]="apartmentComplex.detailImageLg"
                        [md]="apartmentComplex.detailImageMd" [xs]="apartmentComplex.detailImageSm"
                        [sm]="apartmentComplex.detailImageSm"
                        [alt]="apartmentComplex.detailImageAlt"  [title]="apartmentComplex.detailImageTitle"></app-responsive-image>
</div>

<div class="object-container">
  <app-block-layout [blocks]="apartmentComplex.content"></app-block-layout>

</div>

<hr>

<div class="container">
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Материалы об объекте</h3>
    <div class="row cards-row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let article of articles">
        <app-material-card class="small" [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
      </div>
    </div>
  </div>
</div>
