@import "theme";
@import "responsive";

:host {
    font-size: 16px;
    line-height: 1.625;
}

li {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 8px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 16px;
        }
    }

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        margin-right: 12px;
        background-color: $primary-color;
        border-radius: 50%;

        @include media-breakpoint-down(sm) {
            margin-top: 7px;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
        align-items: flex-start;
    }
}

p {
    margin-bottom: 32px;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
        margin-bottom: 9px;
    }
}

.object-container {
    max-width: 855px;
    margin: 0 auto;
    padding: 0 15px;

    > * {
        margin-bottom: 32px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 24px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 16px 12px 0;

        app-apartment-info-block {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    .object-header {
        @include media-breakpoint-down(sm) {
            margin-bottom: 16px;
        }
    }
}

.object-header {
    display: flex;
    justify-content: space-between;

    h5 {
        color: $primary-color;
        margin-bottom: 24px;
    }
}

.object-header-image {
    flex: 0 0 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.object-navigation {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(8,26,63,0.14);
    padding: 16px 32px;
}

.object-navigation-list {
    margin-right: -8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        margin-right: 0;
    }
}

.object-navigation-item {
    margin-right: 8px;
    font-family: 'Montserrat', sans-serif;

    &:not(:last-child) {
        margin-bottom: 0;
    }

    &::before {
        display: none;
    }

    &:hover {
        .object-navigation-btn {
            text-shadow: none;
        }

    }

    @include media-breakpoint-down(sm) {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.object-navigation-btn {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: $dark-gray;
    font-size: 15px;
    line-height: 1.6;
    text-shadow: 0.5px 0 0 $dark-gray;
    transition: text-shadow .2s ease;

    &:focus {
        outline: 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.54;
        text-shadow: none;
    }
}

.object-top-text {
    ::ng-deep p {
        margin-bottom: 24px;
        font-size: 17px;
        line-height: 1.705;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 1.571;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        order: 1;
    }
}

.object-top-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;

    svg {
        fill: $gray;
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 24px;

        > * {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.geolocation {
    width: 13px;
    height: 18px;
}

.web {
    width: 16px;
    height: 16px;
}

.object-top-contact {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.625;

    > * {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    span {
        color: $dark-gray;
    }

    @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.538;
    }
}

.full-image {
    margin-bottom: 32px;
    height: 0;
    padding-bottom: 31.94%;
    position: relative;

    ::ng-deep img {
        width: 100%;
        position: absolute;
        object-fit: cover;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        padding-bottom: 68.75%;
    }
}

.deadline-buttons {
    display: flex;
    margin: 0 -16px 40px 0 !important;
}

.deadline-button {
    margin-right: 16px;
    padding: 16px;
    flex: 1;
    cursor: pointer;
    background-color: $light-gray;
    border: 0;
}

.divider {
    border-bottom: 1px solid $border-color;
    margin-bottom: 40px;
}

.apartment-info-top {
    ::ng-deep p {
        color: $dark-gray;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0 !important;
    }
}

app-full-width-image-carousel-block {
    margin-bottom: 40px !important;
}

.map-image {
    width: 100%;
    height: 466px;

    ::ng-deep .container {
        padding: 0;
    }

    @include media-breakpoint-down(sm) {
        margin-left: -12px;
        margin-right: -12px;
        width: 100vw;
    }
}


h3, h4 {
    margin-bottom: 24px;

    @include media-breakpoint-down(sm) {
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 16px;
    }
}

.materials {
  margin-bottom: 48px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 24px;
  }
}

.mobile-object-navigation {
    position: relative;
    width: 100%;
    padding: 13px 12px;
    box-shadow: 0 4px 16px 0 rgba(8,26,63,0.14);
    margin-left: -12px;
    margin-right: -12px;
    width: 100vw;

    .gradient-control {
        height: 100%;
    }

    .object-navigation-list {
        width: 100%;
        flex-wrap: nowrap;
    }
}

.object-top-info {
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
    }
}

app-extended-company-card {
    margin-bottom: 48px;
}

app-company-card {
    display: block;
    border: 1px solid $border-color;
}