@import "theme";
@import "responsive";

:host {
    display: block;
}

.quote {
    background-color: rgba($secondary-color, 0.2);
    padding: 40px 40px 32px 40px;

    @include media-breakpoint-down(sm) {
        padding: 24px 12px;
    }
}

.quote-content {
    display: flex;
    //justify-content: space-between;
    margin-bottom: 29px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
    }
}

.quote-icon {
    opacity: 0.2;
    width: 42px;
    height: 28px;
    margin-right: 40px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
       margin-right: 0;
       margin-bottom: 24px;
    }
}

.quote-text {
    font-size: 17px;
    line-height: 1.7;
    fill: $text-color;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 15px;
        line-height: 1.53333;
    }
}

.quote-bot {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 1.538;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
}

.quote-info {
    display: flex;
    flex-direction: column;
}

.quote-source {
    display: block;
    font-style: normal;
    margin-bottom: 4px;
    color: $primary-color;
}

.quote-time {
    color: $dark-gray;
    margin-top: auto;
}

.quote-author {
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 24px;

            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        order: -1;
        flex-direction: column;
    }
}

.quote-author-info {
    text-align: right;

    @include media-breakpoint-down(sm) {
        text-align: center;
        margin-bottom: 16px;
    }
}

.quote-author-name {
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 4px;
}

.quote-author-position {
    color: $dark-gray;
}

.quote-author-avatar {
    flex-shrink: 0;
    filter: grayscale(100%);

    ::ng-deep img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
    }

    @include media-breakpoint-down(sm) {
        order: -1;
        margin-bottom: 16px;
    }
}
