<div class="container">
  <div class="event-info" *ngIf="article.event">
    <div class="info-background">
      <app-responsive-image *ngIf="!article.event.backgroundImageXl" [xl]="'https://images.unsplash.com/photo-1560439514-4e9645039924?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1240&q=80'"
                            [lg]="'https://images.unsplash.com/photo-1560439514-4e9645039924?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=932&q=80'"
                            [md]="'https://images.unsplash.com/photo-1560439514-4e9645039924?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=712&q=80'"
                            [xs]="'https://images.unsplash.com/photo-1560439514-4e9645039924?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80'"
                            [sm]="'https://images.unsplash.com/photo-1560439514-4e9645039924?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80'"></app-responsive-image>

      <app-responsive-image *ngIf="article.event.backgroundImageXl" [xl]="article.event.backgroundImageXl"
                            [lg]="article.event.backgroundImageLg" [md]="article.event.backgroundImageMd"
                            [xs]="article.event.backgroundImageSm"
                            [sm]="article.event.backgroundImageSm" [alt]="article.event.backgroundImageAlt"
                            [title]="article.event.backgroundImageTitle"></app-responsive-image>
    </div>
    <div class="info-content">
      <div class="h1 light" [innerHTML]="article.event.name | quotes"></div>
      <div class="info-bottom">
        <div class="info-bottom-left">
          <div class="event-type-name">{{ article.event.type }}</div>
          <div class="event-date" *ngIf="article.event.startedAt">
            {{ eventDisplayDate }}
          </div>
        </div>
        <div class="info-bottom-right">
          <button class="button secondary" *ngIf="allowEventRegistration" (click)="scrollToEventRegistrationBlock()">
            Зарегистрироваться
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-10 offset-lg-1 offset-xl-0">
      <div class="page-content">
        <div class="page-topline">
          <h1 class="mobile-title d-md-none" [innerHTML]="article.title | quotes"></h1>
          <!--          <a [routerLink]="['/' + article.directorySlug]" class="h5"-->
          <!--             *ngIf="screen !== 'sm' && article.directorySlug !== ''">{{ article.directoryName }}</a>-->
          <div class="page-topline-info">
            <div class="topline-info-item topline-author" *ngIf="article.authors.length > 0">
              <ng-container *ngFor="let author of article.authors; first as isFirst">
                <ng-container *ngIf="!isFirst">,&nbsp;</ng-container>
                <a [routerLink]="['/persons', author.id + '-'+ author.slug]">{{ author.name }}</a>
              </ng-container>
            </div>
            <div class="topline-info-item topline-info-date" *ngIf="article.publishedAt && !article.event">
              {{ article.publishedAt * 1000 | niceDate }} в {{ article.publishedAt * 1000 | date: 'shortTime' }}
            </div>
            <div class="topline-info-item info-views">
              <svg class="topline-icon">
                <use xlink:href="assets/sprites/icons.svg#eye"></use>
              </svg>
              <span>{{ article.viewsCount | number }}</span>
            </div>
          </div>
        </div>
        <h1 class="page-title d-none d-md-block" [innerHTML]="article.title | quotes"></h1>
        <div class="preview-text" [innerHTML]="article.previewText | paragraphs | quotes">
        </div>
        <div class="share-area">
          <app-share></app-share>
          <div class="comments-count" *ngIf="article.commentsAllowed">
            <svg class="comment-icon">
              <use xlink:href="assets/sprites/icons.svg#comment"></use>
            </svg>
            <span>{{ article.commentsCount }}</span>
          </div>
        </div>

        <div class="blocks">
          <app-block-layout [blocks]="article.content" [entityId]="article.id"></app-block-layout>
        </div>

        <div class="bot">
          <div class="hashtags">
            <!--            <a [routerLink]="['/' + article.directorySlug]" *ngIf="article.directorySlug !== ''" class="hashtag"><strong>{{ article.directoryName }}</strong></a>-->
            <a [routerLink]="['/tags', tag.code]" class="hashtag"
               *ngFor="let tag of article.tags">#{{ tag.name | quotes }}</a>
          </div>
          <app-share></app-share>
        </div>

        <app-comments *ngIf="article.commentsAllowed" [resourceType]="'article'" [resourceId]="article.id"></app-comments>
        <app-article-banner *ngIf="!readAlso" [articleId]="article.id"></app-article-banner>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-8 offset-xl-1 offset-lg-0 offset-md-2 d-none d-xl-block">
      <aside class="content-sidebar">
        <ng-container>
          <ng-container *ngTemplateOutlet="eventContactCard"></ng-container>
        </ng-container>
        <div>
          <ng-container *ngFor="let card of article.asideCards">
            <ng-container [ngSwitch]="card.type">
              <ng-container *ngSwitchCase="'article-list'">
                <app-material-list-card *ngIf="!article.event" [size]="'medium-vertical'" [highlight]="card.highlight"
                                        [data]="card"
                ></app-material-list-card>
              </ng-container>
              <!--            <ng-container *ngSwitchCase="'latest-news'">-->
              <!--              <app-latest-news-card-->
              <!--                [articles]="card.articles"></app-latest-news-card>-->
              <!--            </ng-container>-->
            </ng-container>
          </ng-container>
        </div>
      </aside>
    </div>
  </div>
  <ng-container *ngIf="screen !== 'xl'">
    <ng-container *ngTemplateOutlet="eventContactCard"></ng-container>
  </ng-container>
</div>
<ng-template #eventContactCard>
  <div class="event-contact-card" *ngIf="article.event && (article.event.address || article.event.phone || article.event.email || article.event.site || article.event.vkontakteLink || article.event.facebookLink || article.event.telegramLink || article.event.twitterLink)">
    <div class="contact-card-items" *ngIf="article.event.address">
      <div class="h6">Место проведения</div>
      <div class="contact-card-item">
        <svg class="contact-card-icon geolocation">
          <use xlink:href="assets/sprites/icons.svg#map_pin"></use>
        </svg>
        <span>{{ article.event.address | quotes }}</span>
      </div>
    </div>
    <div class="contact-card-items" *ngIf="article.event.phone || article.event.email || article.event.site || article.event.vkontakteLink || article.event.facebookLink || article.event.telegramLink || article.event.twitterLink">
      <div class="h6">Информация</div>
      <div class="list">
        <div class="contact-card-item" *ngIf="article.event.phone">
          <svg class="contact-card-icon phone">
            <use xlink:href="assets/sprites/icons.svg#phone"></use>
          </svg>
          <a [href]="'tel:' + ( article.event.phone | phoneFormat )"
             class="link contact-card-phone">{{ article.event.phone }}</a>
        </div>
        <div class="contact-card-item" *ngIf="article.event.email">
          <svg class="contact-card-icon mail">
            <use xlink:href="assets/sprites/icons.svg#mail"></use>
          </svg>
          <a [href]="'mailto:' + article.event.email" class="link">{{ article.event.email }}</a>
        </div>
        <div class="contact-card-item" *ngIf="article.event.site">
          <svg class="contact-card-icon web">
            <use xlink:href="assets/sprites/icons.svg#web"></use>
          </svg>
          <a [href]="article.event.site" target="_blank" rel="nofollow noopener"
             class="link">{{ article.event.site | domain }}</a>
        </div>
        <ul class="socials">
          <li *ngIf="article.event.vkontakteLink">
            <a [href]="article.event.vkontakteLink" rel="nofollow noopener" class="vk" target="_blank">
              <svg>
                <use xlink:href="assets/sprites/icons.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li *ngIf="article.event.facebookLink">
            <a [href]="article.event.facebookLink" rel="nofollow noopener" class="facebook" target="_blank">
              <svg>
                <use xlink:href="assets/sprites/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li *ngIf="article.event.telegramLink">
            <a [href]="article.event.telegramLink" rel="nofollow noopener" class="telegram" target="_blank">
              <svg>
                <use xlink:href="assets/sprites/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li *ngIf="article.event.twitterLink">
            <a [href]="article.event.twitterLink" rel="nofollow noopener" class="twitter" target="_blank">
              <svg>
                <use xlink:href="assets/sprites/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</ng-template>
<div class="read-also">
  <div class="container">
    <app-card-carousel *ngIf="readAlso" [data]="readAlso" [articleRouteState]="{exclude: exclude}"></app-card-carousel>
  </div>
</div>
