@import "theme";
@import "responsive";

.hashtags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  margin-top: 16px;
  @include media-breakpoint-only(sm) {
    font-size: 14px;
  }
    > * {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}
.topline-info-item.topline-author > *:not(:last-child) {
  margin-right: 0;
}

.preview-text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.705;
  color: $dark-gray;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 1.571;
    margin-bottom: 24px;
  }
}
.hashtags {
  margin-bottom: -16px;
}
.hashtag {
    display: block;
    color: $primary-color;
    margin-bottom: 16px;
}

.bot {
    margin-top: 40px;
}

.page-content {
    @include media-breakpoint-only(lg) {
        padding-right: 7px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 16px;
    }
}

.mobile-title {
    width: 100%;
    margin-bottom: 12px;
}

.page-topline {
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
}
.share-area {
  display: flex;
  align-items: center;
  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 24px;
  }
  app-share {
    margin-bottom: 0;
  }
  .comments-count {
    margin-left: auto;
  }
}
.comments-count {

  span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $primary-color;

    @include media-breakpoint-down(sm) {
      order: -1;
      font-weight: 400;
      margin-right: 8px;
    }
  }

  > * {
    &:not(:last-child) {
      margin-right: 8px;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: center;
  }
  .comment-icon {
    width: 14px;
    height: 14px;
    fill: $gray;
  }
}
.event-info {
  position: relative;
  margin-bottom: 40px;
  background-color: $primary-color;

  .event-date {
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 1.571;
    }
  }

  .info-background ::ng-deep img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.3;
  }

  .info-content {
    padding: 32px 40px 40px;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 24px 12px;
    }
  }

  .info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      padding-left: 33px;
      padding-right: 33px;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .event-type-name {
    @include media-breakpoint-down(sm) {
      font-size: 13px;
      line-height: 1.54;
    }
  }

  .info-bottom-right {
    @include media-breakpoint-down(sm) {
      width: 100%;

      .button {
        width: 100%;
        padding: 9px 24px;
      }
    }
  }

  .info-bottom-left {
    color: $light-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.59;

    > * {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 24px;
    }
  }
  .h1 {
    max-width: 760px;
    margin-bottom: 88px;

    @include media-breakpoint-down(md) {
      margin-bottom: 77px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin: 0 -12px 24px;
  }
}

.event-contact-card {
  padding: 24px 24px 27px;
  border: 1px solid $border-color;
  width: 100%;
  @include media-breakpoint-down(lg) {
    margin-bottom: 24px;
  }
  .h6 {
    margin-bottom: 16px;
  }
  .list {
    @include media-breakpoint-between(md, lg) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .contact-card-item {
      @include media-breakpoint-only(lg) {
        margin-bottom: 0;
        width: 25%;
      }
      @include media-breakpoint-only(md) {
        margin-bottom: 0;
        width: 33%;
      }
    }
  }
  .contact-card-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    padding-left: 4px;
  }

  .contact-card-icon {
    margin-right: 21px;
    fill: $gray;
    flex-shrink: 0;
  }

  .geolocation {
    width: 13px;
    height: 18px;
    margin-bottom: auto;
    margin-top: 4px;
  }

  .phone {
    width: 14px;
    height: 16px;
  }

  .mail {
    width: 16px;
    height: 12px;
  }

  .web {
    width: 16px;
    height: 16px;
  }

  .contact-card-phone {
    color: $text-color;
  }

  .socials {
    @include media-breakpoint-only(lg) {
      margin-left: auto;
    }
    @include media-breakpoint-only(md) {
      margin-top: 32px;
    }
    a {
      flex: 0 0 40px;
      height: 40px;
      width: 40px;
    }

    > * {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}

.content-sidebar {
  grid-auto-rows: auto;

  @include media-breakpoint-only(md) {
    margin-bottom: 48px;
  }
}
.sticky-sidebar {
  margin-top: 8px;
  position: sticky;
  top: 200px;
  margin-bottom: 40px;
}
.read-also {
  margin-top: 16px;
  background-color: $light-gray;
  ::ng-deep .carousel-wrapper {
    padding: 40px 0 48px 0;
    margin-bottom: 0;
  }
}
.bot .page-topline-info  {
  margin-top: 16px;
}
app-comments {
  margin-top: 32px;
}
