<div class="container">
  <div class="row">

    <div class="col-xl-8 col-lg-8">
      <div class="page-content">
        <div class="page-topline">
            <h1 class="mobile-title" *ngIf="screen === 'sm'">Апартаменты на паузе</h1>
            <h5 *ngIf="screen !== 'sm'">Аналитика</h5>
            <div class="page-topline-info">
              <div class="topline-info-item topline-author">
                Дмитрий Синочкин
              </div>
              <div class="topline-info-item">
                <time datetime="2019-05-08 11:25">8 мая, 11:25</time>
              </div>
              <div class="topline-info-item info-views">
                <svg class="topline-icon">
                  <use xlink:href="assets/sprites/icons.svg#eye"></use>
                </svg>
                <span>1 234</span>
              </div>
            </div>
        </div>
        <h1 class="page-title" *ngIf="screen !== 'sm'">Апартаменты на паузе</h1>
        <app-share></app-share>

        <div class="blocks">
          <app-block-layout [blocks]="blocks"></app-block-layout>
        </div>

        <div class="bot">
          <div class="hashtags">
            <strong class="hashtag">Аналитика</strong>
            <div class="hashtag">#Апартаменты</div>
            <div class="hashtag">#Инвестиции в недвижимость</div>
          </div>
          <ul class="share-socials">
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#copy-link-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#vk-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#facebook-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#telegram-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#twitter-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#more-outline"></use>
                    </svg>
                </a>
            </li>
          </ul>
        </div>

        <app-comments></app-comments>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-8 offset-xl-1 offset-lg-0 offset-md-2" *ngIf="screen !== 'sm'">
      <aside class="content-sidebar">
        <app-material-list-card [size]="'small'"
                                [class]="'small'"></app-material-list-card>
        <app-advertising-card [size]="'small'" [class]="'small'"></app-advertising-card>
        <app-material-list-card [size]="'medium-vertical'"
                                [highlight]="true"
                                [class]="'medium-vertical'"></app-material-list-card>
      </aside>
    </div>
  </div>
</div>
