@import "theme";
@import "responsive";

.hashtags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > * {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}

.hashtag {
    display: block;
    color: $primary-color;
    margin-bottom: 24px;
}

.bot {
    margin-bottom: 48px;
}

.page-content {
    @include media-breakpoint-only(lg) {
        padding-right: 7px;
    }
}