<header class="header">
    <div class="header-top">
        <a [routerLink]="['']" class="logo-link" aria-label="logotype link">
            <svg class="logo">
                <use xlink:href="assets/sprites/icons.svg#logo"></use>
            </svg>
        </a>
        <div class="quote">
            <blockquote class="quote-text">
                <p>
                    «Мы исключили схему, при которой девелоперы могут выкупать сами у себя нужное количество квартир, чтобы достраивать объекты по старым правилам…»
                </p>
                <cite class="author">Николай Николаев</cite>
            </blockquote>
            <div class="avatar">
                <img src="https://images.unsplash.com/photo-1543080853-556086153871?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=56&q=80" alt="avatar">
            </div>
        </div>
    </div>
    <div class="header-menu" [ngClass]="{'fixed': fixedMenu, 'under-banner': showBanner}" #menu>
        <div class="menu">
            <a href="#" aria-label="mini-logotype link">
                <svg class="logo-mini" *ngIf="fixedMenu">
                    <use xlink:href="assets/sprites/icons.svg#logo_mini"></use>
                </svg>
            </a>
            <nav class="navigation">
                <ul class="navigation-list" #navigationList style="flex-grow: 1;">
                    <li [class.active]="false">
                        <a [routerLink]="['search']">Search</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['companies']">Companies index</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['companies/detail']">Companies detail</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['article']">Артикл</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['quotes']">Quotes</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['persons']">Persons index</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['persons/detail']">Persons detail</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['event']">Event</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['objects']">Objects index</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['objects/detail']">Objects detail</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['sections/detail']">Sections detail</a>
                    </li>
                    <li [class.active]="false">
                        <a [routerLink]="['projects/detail']">Projects detail</a>
                    </li>
                </ul>
                <ul class="navigation-list">
                    <li (clickOutside)="dropdownVisible = false"
                        [class.active]="dropdownVisible">
                        <button class="dropdown-btn" (click)="dropdownVisible = !dropdownVisible">
                            <span>Еще</span>
                            <svg [class.rotated]="dropdownVisible">
                                <use xlink:href="assets/sprites/icons.svg#chevron_down"></use>
                            </svg>
                        </button>
                        <div class="dropdown" [class.visible]="dropdownVisible">
                            <ul class="dropdown-list" #dropdownList (click)="dropdownVisible = !dropdownVisible"></ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <button type="button" class="search-button button scrolled-search-btn" *ngIf="fixedMenu">
                <svg class="icon">
                    <use xlink:href="assets/sprites/icons.svg#icon_search"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-actions">
            <div class="header-action">
                <svg>
                    <use xlink:href="assets/sprites/icons.svg#calendar"></use>
                </svg>
                <time datetime="2019-05-11" class="header-action-text">
                    11 мая, 20:40, 2019
                </time>
            </div>
            <div class="header-action">
                <svg>
                    <use xlink:href="assets/sprites/icons.svg#notification"></use>
                </svg>
                <button (click)="modal.open('subscription-form')" class="header-action-text">Подписаться</button>
            </div>
            <div class="header-action">
                <svg>
                    <use xlink:href="assets/sprites/icons.svg#mail"></use>
                </svg>
                <button (click)="modal.open('news-offer-form')" class="header-action-text">Прислать новость</button>
            </div>
        </div>
        <form class="search">
            <input type="text" placeholder="Поиск по сайту" required>
            <button type="submit" class="search-button short-button no-bg">
                <svg class="icon">
                    <use xlink:href="assets/sprites/icons.svg#icon_search"></use>
                </svg>
            </button>
        </form>
    </div>
</header>
