@import "../card-common.scss";
@import "variables/bootstrap";
@import "responsive";

:host-context(.small) {
    display: block;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
    }

    > * {
        position: absolute !important;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
}

:host {
    
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
    }
}

:host-context(.short) {
    height: initial;
    .card-top, .card-img, .card-footer {
        display: none;
    }
}

h5 {
    margin-bottom: 8px;
    color: $text-color;
    transition: color .2s ease;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;

    &.backgroundImage {
        .card-content {
            position: relative;
            margin-top: auto;
            z-index: 2;
            flex: initial;
            background-color: transparent;
        }

        .card-text, h5 {
            color: $light-color;
        }

        .card-text {
            -webkit-line-clamp: initial;
        }

        .card-overlay {
            background-color: rgba($text-color, .2);
        }

        &:hover {
            .card-overlay {
                background-color: rgba($text-color, .6);
            }
        }
    }

    &.default {
        &:hover {
            h5, .card-text {
                color: $primary-color;
            }

            .card-img ::ng-deep img {
                opacity: 0.8;
            }

        }
      .card-content {
        border: 1px solid $border-color;
      }
      &.small, &.vertical, &.large {
        .card-content {
          border-top: 0;
        }
      }
      &.horizontal {
        .card-content {
          border-left: 0;
        }
      }
    }

    &.extended {
        .date {
            color: $dark-gray;
        }
        .card-footer {
            margin-top: 22px;
        }
    }

    &.horizontal {
        flex-direction: row;

        .card-content {
            padding: 16px 24px 12px;
        }

        .card-img {
            flex: 0 0 calc(50% - (#{$grid-gutter-width} / 2));
            width: calc(50% - (#{$grid-gutter-width} / 2));
            height: 100%;
        }
    }

    &.vertical {
        .card-content {
            padding-top: 16px;
        }

        .card-img {
            height: calc(50% - (#{$grid-gutter-width} / 2));
        }
    }

    &.large {
        .card-img {
            height: calc(50% - (#{$grid-gutter-width} / 2));
        }
    }

    @include media-breakpoint-down(sm) {
        min-height: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

.card-img {
    width: 100%;
    height: 154px;
    position: relative;
    background-color: $text-color;

    ::ng-deep img {
        transition: opacity .2s ease;
        min-width: 100%; // Растягиваем изображение
        min-height: 100%;
    }

    @include media-breakpoint-down(sm) {
        height: 140px;
    }
}

.card-content {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: $light-color;
}

.card-text {
    font-size: 14px;
    line-height: 1.5714;
    color: $dark-gray;
    overflow: hidden;
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-bottom: 10px;
    transition: color .2s ease;

    @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.54;
    }
}

.card-footer {
    margin-top: auto;
}

.card-top.static {
    margin-bottom: auto;
}

.date {
    @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.5;
    }
}
