@import "../card-common.scss";
@import "variables/bootstrap";
@import "responsive";

:host {
  display: block;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  > * {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @include media-breakpoint-only(sm) {
    &::before {
      padding-top: 100%;
    }
  }
}
:host-context(.medium-vertical) {
  @include media-breakpoint-up(md) {
    &::before {
      padding-top: 200%;
    }
  }
}
:host-context(.medium-horizontal) {
  @include media-breakpoint-up(md) {
    &::before {
      padding-top: 50%;
    }
  }
}

:host {
    background-color: #fff;
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
    }
}

:host-context(.short) {
    height: initial;
    .card-top, .card-img, .card-footer {
        display: none;
    }
}

.h5 {
    margin-bottom: 8px;
    color: $text-color;
    transition: color .2s ease;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    &.backgroundImage {
      .image-overlay {
        background: linear-gradient(180deg, rgba($text-color, 0.6) 0%, rgba($text-color, 0.3) 100%);
      }
        .card-content {
            position: relative;
            margin-top: auto;
            z-index: 2;
            flex: initial;
            background-color: transparent;
        }

        .card-text, .h5 {
            color: $light-color;
        }

        .card-text {
            -webkit-line-clamp: initial;
        }

        .card-overlay {
            background-color: rgba($text-color, .2);
        }

        &:hover {
            .card-overlay {
                background-color: rgba($text-color, .6);
            }
        }
    }

    &.default {
        &:hover {
            .h5, .card-text {
                color: $primary-color;
            }

            .card-img ::ng-deep img {
                opacity: 0.8;
            }

        }
      &.has-image {
        .card-content {
          border: 1px solid $border-color;
        }
        &.has-image {
          &.small, &.vertical, &.large {
            .card-content {
              border-top: 0;
            }
          }
          &.horizontal {
            .card-content {
              border-left: 0;
            }
          }
        }
      }
      &:not(.has-image) {
        border: 1px solid $border-color;
      }

    }

    &.extended, &:not(.has-image) {
        .date, .tag {
            color: $dark-gray;
        }
        .card-footer {
            //margin-top: 22px;
        }
    }

    &.horizontal {
        flex-direction: row;

        .card-content {
            padding: 16px 24px 12px;
        }

        .card-img {
            flex: 0 0 calc(50% - (#{$grid-gutter-width} / 2));
            width: calc(50% - (#{$grid-gutter-width} / 2));
            height: 100%;
        }
    }

    &.vertical {
        .card-content {
            padding-top: 16px;
        }

        .card-img {
            height: calc(50% - (#{$grid-gutter-width} / 2));
        }
    }

    &.large {
        .card-img {
            height: calc(50% - (#{$grid-gutter-width} / 2));
        }
    }

    @include media-breakpoint-down(sm) {
        min-height: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}
.card-wrapper:not(.has-image).small {

  .card-top {
    position: relative;
  }
}

.card-img {
    width: 100%;
    height: 50%;
    position: relative;
    //background-color: $text-color;

    ::ng-deep img {
        transition: opacity .2s ease;
        min-width: 100%; // Растягиваем изображение
        min-height: 100%;
    }
}
.has-image .card-content {
  flex-grow: 1;
}
.card-content {
    @include media-breakpoint-up(md) {
      padding: 12px 16px 24px 16px;
    }
  @include media-breakpoint-only(sm) {
    padding: 12px 12px 17px 12px;
  }
    display: flex;
    flex-direction: column;
    min-height: 0px;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: $light-color;
}

.card-text {
    font-size: 14px;
    line-height: 22px;
    color: $dark-gray;
    overflow: hidden;
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-bottom: 14px;
    transition: color .2s ease;

    @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.54;
    }

    @media (max-width: 375px) {
        text-overflow: -o-ellipsis-lastline;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        flex-grow: 0;
    }
}

.card-footer {
    //margin-top: auto;
}

.card-top.static {
    margin-bottom: auto;
}

.date {
    @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.5;
    }
}
