@import "theme";
@import "responsive";

.card-wrapper {

    &.large {

        .swiper-slide {
            display: flex;
            align-items: flex-start;
        }

    }

}

.card-header {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slides-amount {
    font-size: 13px;
    line-height: 1.538;
    color: $raven-color;
    margin-right: 193px;

    @include media-breakpoint-down(xl) {
        margin-right: 130px;
    }
}

.news-text {
    font-size: 14px;
    line-height: 1.571;
}

.control-buttons {
    justify-content: flex-end;
}

.control-button.small {
    padding: 5px;
}