<ng-container [ngSwitch]="size">
	<ng-container *ngSwitchCase="1">
		<div class="card-wrapper large">
			<header class="card-header">
				<h4>{{ feed.title }}</h4>

				<div class="card-header-right">
<!--					<div class="slides-amount">-->
<!--						1 — 3-->
<!--					</div>-->
					<div class="control-buttons">
						<div class="control-button small light" (click)="largeNews.swiper.slidePrev()">
							<svg class="icon">
								<use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
							</svg>
						</div>
						<div class="control-button small light" (click)="largeNews.swiper.slideNext()">
							<svg class="icon">
								<use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
							</svg>
						</div>
					</div>
				</div>
			</header>
			<div class="swiper-container" [swiper]="newsSliderConfig" #largeNews>
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let article of feed.articles">
						<div class="news-item">
							<time class="date">{{ article.publishedAt * 1000 | niceDate }} в {{ article.publishedAt * 1000 | date: 'shortTime' }}</time>
							<div class="news-text">
								<p>{{ article.title }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
<!--  Если будешь дорабатывать этот вариант, то нужно заменить статику на динамические данные-->
<!--	<ng-container *ngSwitchCase="2">-->
<!--		<div class="card-wrapper average">-->
<!--			<header class="card-header">-->
<!--				<div class="row">-->
<!--					<div class="col-lg-10">-->
<!--						<h4>{{ feed.title }}</h4>-->
<!--					</div>-->
<!--					<div class="col-lg-1">-->
<!--&lt;!&ndash;						<div class="slides-amount">&ndash;&gt;-->
<!--&lt;!&ndash;							1 — 3&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--					</div>-->
<!--					<div class="col-lg-1">-->
<!--						<div class="control-buttons">-->
<!--							<div class="control-button small light" (click)="largeNews.swiper.slidePrev()">-->
<!--								<svg class="icon">-->
<!--									<use xlink:href="assets/sprites/icons.svg#chevron_left"></use>-->
<!--								</svg>-->
<!--							</div>-->
<!--							<div class="control-button small light" (click)="largeNews.swiper.slideNext()">-->
<!--								<svg class="icon">-->
<!--									<use xlink:href="assets/sprites/icons.svg#chevron_right"></use>-->
<!--								</svg>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</header>-->
<!--			<div class="swiper-container" [swiper]="newsSliderConfig" #largeNews>-->
<!--				<div class="swiper-wrapper">-->
<!--					<div class="swiper-slide" *ngFor="let article of feed.articles">-->
<!--						<div class="news-item">-->
<!--							<time class="date">{{ article.publishedAt * 1000 | niceDate }} в {{ article.publishedAt * 1000 | date: 'shortTime' }}</time>-->
<!--							<div class="news-text">-->
<!--								<p>{{ article.title }}</p>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="news-item">-->
<!--							<time class="date" datetime="2019-05-09">9 мая, 14:32</time>-->
<!--							<div class="news-text">-->
<!--								<p>Объём просроченной ипотечной задолженности вырос по итогам полугодия</p>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="news-item">-->
<!--							<time class="date" datetime="2019-05-09">9 мая, 14:32</time>-->
<!--							<div class="news-text">-->
<!--								<p>Сбербанк поможет частным инвесторам вкладывать средства в строительство</p>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="news-item">-->
<!--							<time class="date" datetime="2019-05-09">9 мая, 14:32</time>-->
<!--							<div class="news-text">-->
<!--								<p>В Думе рассматривают возможность платить за будущую квартиру в новостройке в рассрочку</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</ng-container>-->

</ng-container>
