<div class="share">
    <div class="share-text">
        <p>
            В Петербурге заявлено строительство порядка 1 млн кв.м апартаментов, за последние два года сегмент утроился. Однако взрывной рост позади. Власть пытается загнать этот бизнес в рамки. Ужесточение законов в сфере гостеприимства и громкие заявления чиновников вкупе с предстоящим квестом по эскроу-счетам уже заставили девелоперов задуматься.
        </p>
    </div>
    <footer class="share-footer">
        <ul class="share-socials">
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#copy-link-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#vk-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#facebook-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#telegram-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#twitter-outline"></use>
                    </svg>
                </a>
            </li>
            <li class="share-social">
                <a href="#">
                    <svg class="share-social-icon">
                        <use xlink:href="assets/sprites/icons.svg#more-outline"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="comments">
            <svg class="comment-icon">
                <use xlink:href="assets/sprites/icons.svg#comment"></use>
            </svg>
            <span>6</span>
        </div>
    </footer>
</div>