@import "theme";
@import "responsive";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

    @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
    }
}
