@import "theme";
@import "responsive";

:host {
    margin-bottom: 40px;
    display: block;

    @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
    }
}

.share-title {
    margin-bottom: 24px;
}

.share-text {
    margin-bottom: 32px;
    font-size: 17px;
    line-height: 1.705;
    color: $dark-gray;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
        margin-bottom: 24px;
    }
}

.share-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments {

    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: $primary-color;

        @include media-breakpoint-down(sm) {
            order: -1;
            font-weight: 400;
            margin-right: 8px;
        }
    }

    > * {
        &:not(:last-child) {
            margin-right: 8px;

            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: flex;
        align-items: center;
    }
}

.comment-icon {
    width: 14px;
    height: 14px;
    fill: $gray;
}