<ul class="share-socials">
  <li class="share-social">
    <button (click)="copyLink()">
      <svg class="share-social-icon">
        <use xlink:href="assets/sprites/icons.svg#copy-link-outline"></use>
      </svg>
    </button>
  </li>
  <li class="share-social">
    <button (click)="shareToVkontakte()">
      <svg class="share-social-icon">
        <use xlink:href="assets/sprites/icons.svg#vk-outline"></use>
      </svg>
    </button>
  </li>
  <li class="share-social">
    <button (click)="shareToFacebook()">
      <svg class="share-social-icon">
        <use xlink:href="assets/sprites/icons.svg#facebook-outline"></use>
      </svg>
    </button>
  </li>
<!--  <li class="share-social">-->
<!--    <a href="#">-->
<!--      <svg class="share-social-icon">-->
<!--        <use xlink:href="assets/sprites/icons.svg#telegram-outline"></use>-->
<!--      </svg>-->
<!--    </a>-->
<!--  </li>-->
  <li class="share-social">
    <button (click)="shareToTwitter()">
      <svg class="share-social-icon">
        <use xlink:href="assets/sprites/icons.svg#twitter-outline"></use>
      </svg>
    </button>
  </li>
<!--  <li class="share-social">-->
<!--    <a href="#">-->
<!--      <svg class="share-social-icon">-->
<!--        <use xlink:href="assets/sprites/icons.svg#more-outline"></use>-->
<!--      </svg>-->
<!--    </a>-->
<!--  </li>-->
</ul>
