<div class="container">
  <div class="page-top">
    <header class="inner-page-header">
      <h1>Персоны</h1>
    </header>
    <app-search [shortVersion]="true" [placeholder]="'Поиск персоны'"
                (apply)="applySearch($event)"></app-search>
  </div>
</div>
<div class="page-cards">
  <div class="container top-container">
    <div class="row cards-row" *ngIf="screen !== 'sm'">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let person of persons">
        <app-person-card [person]="person"></app-person-card>
      </div>
    </div>

    <!-- mobile cards slider -->
    <app-mobile-cards-slider *ngIf="screen === 'sm'" [cards]="persons" [type]="'person'"></app-mobile-cards-slider>
    <app-pagination *ngIf="personsCount > 12" [size]="12" [count]="personsCount"></app-pagination>
  </div>
</div>
<div class="container">
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Интервью</h3>
    <div class="row cards-row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let article of articles">
        <app-material-card class="small" [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
      </div>
    </div>
  </div>
</div>


