<div class="container">
  <div class="page-top">
    <header class="inner-page-header">
      <h1>Персоны</h1>
    </header>
    <app-search [shortVersion]="true" [placeholder]="'Поиск персоны по имени или фирме'"
                (apply)="applySearch($event)"></app-search>
  </div>
</div>
<div class="page-cards">
  <div class="container top-container">
    <div class="cards-content" *ngIf="screen !== 'sm'">
      <app-person-card *ngFor="let person of persons" [person]="person"></app-person-card>
    </div>

    <!-- mobile cards slider -->
    <app-mobile-cards-slider *ngIf="screen === 'sm'" [cards]="persons" [type]="'person'"></app-mobile-cards-slider>
    <app-pagination *ngIf="personsCount > 12" [size]="12" [count]="personsCount"></app-pagination>
  </div>
</div>
<div class="container">
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Интервью</h3>
    <div class="cards-content">
      <app-material-card class="small" *ngFor="let article of articles" [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
    </div>
  </div>
</div>


