@import "responsive";

:host {
    @include media-breakpoint-down(sm) {
        ::ng-deep {
            .card-layout app-material-card {
                margin: 0;
            }
        }
    }
}


app-search {
    @include media-breakpoint-down(sm) {
        margin: 0 -12px;
        width: 100vw;
    }
}
app-pagination {
  display: block;
  margin-top: 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.materials {
  margin-bottom: 48px;

  @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
  }
}
app-person-card {
  display: block;
}
.cards-row {
  & > * {
    margin-top: 8px;
  }
}
