<div class="container top-container">
  <div class="page-top">
    <header class="inner-page-header">
      <h1>Объекты недвижимости</h1>
    </header>
    <app-search [selectFirst]="{placeholder: 'Тип объекта', attribute: 'type_id', options: types}"
                [selectSecond]="{placeholder: 'Выбрать район', attribute: 'area_id', options: areas}"
                [placeholder]="'Поиск объекта по названию или фирме'" (apply)="applySearch($event)"></app-search>
  </div>
</div>
<div class="page-cards">
  <div class="container">
    <div class="row">
      <div *ngFor="let object of objects" class="col-xl-3 col-lg-4 col-md-6">
        <app-object-card [object]="object"></app-object-card>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Статьи</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6 result-card" *ngFor="let article of articles">
        <app-material-card class="small" [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
      </div>
    </div>
  </div>
</div>

