@import "responsive";
.materials {
  margin-bottom: 48px;
}

app-object-card {
  display: block;
  margin-top: 8px;
}
.cards-row {
  & > * {
    margin-top: 8px;
  }
}
app-pagination {
  display: block;
  margin-top: 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 12px;
    margin-right: 12px;
  }
}
