app-pagination {
  display: block;
  margin-top: 40px;
}
.materials {
  margin-bottom: 48px;
}

app-object-card {
  display: block;
  margin-top: 8px;
}
.cards-row {
  & > * {
    margin-top: 8px;
  }
}
