<div class="login-content">

  <!-- mobile image background -->
  <img
    class="mobile-image"
    *ngIf="screen === 'sm'"
    src="https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=550&q=80"
    alt="mobile image">

  <div class="login-img" *ngIf="screen !== 'sm'">
    <div class="login-img-background" style="background-image: url(https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=550&q=80)"></div>
    <svg class="logo-mini">
      <use xlink:href="assets/sprites/icons.svg#logo_mini"></use>
    </svg>
  </div>
  <div class="login-actions">
    <svg class="logo-mini mobile-logo" *ngIf="screen === 'sm'">
      <use xlink:href="assets/sprites/icons.svg#logo_mini"></use>
    </svg>
    <div class="login-socials">
      <button class="login-social" (click)="signInViaVkontakte()">
        <svg>
          <use xlink:href="assets/sprites/icons.svg#login-vk"></use>
        </svg>
      </button>
      <button class="login-social" (click)="signInViaFacebook()">
        <svg>
          <use xlink:href="assets/sprites/icons.svg#login-facebook"></use>
        </svg>
      </button>
      <button class="login-social" (click)="signInViaGoogle()">
        <svg>
          <use xlink:href="assets/sprites/icons.svg#login-twitter"></use>
        </svg>
      </button>
    </div>
    <div class="footnote">
      <p>
          Авторизуясь, вы соглашаетесь с
          <a [routerLink]="['/agreement']" class="link"> правилами пользования сайтом </a>
          <br> и даете
          согласие на обработку персональных данных.
      </p>
    </div>
  </div>
</div>

<button class="modal-close close dark" (click)="close()">
  <svg>
    <use xlink:href="assets/sprites/icons.svg#close"></use>
  </svg>
</button>
