<div class="container">
    <div class="page-topline">
        <h5>Компании</h5>
        <div class="page-topline-element">
            Есть неточность?
        </div>
    </div>
    <div class="company-info">
        <div class="row">
            <div class="col-xl-3">
                <div class="contact-card">
                    <div class="contact-card-img">
                        <img src="https://images.unsplash.com/photo-1562887189-7c2ae6ace6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="image">
                    </div>
                    <div class="contact-card-items">
                        <div class="contact-card-item">
                            <svg class="contact-card-icon geolocation">
                                <use xlink:href="assets/sprites/icons.svg#map_pin"></use>
                            </svg>
                            <span>197022, Россия, Санкт-Петербург, <br> Аптекарская наб., д. 20, Бизнес-центр «Авеню»</span>
                        </div>
                    </div>
                    <div class="contact-card-items">
                        <div class="contact-card-item">
                            <svg class="contact-card-icon phone">
                                <use xlink:href="assets/sprites/icons.svg#phone"></use>
                            </svg>
                            <a href="tel:+78123800355" class="link contact-card-phone">+7 (812) 380–03–55</a>
                        </div>
                    </div>
                    <div class="contact-card-items">
                        <div class="contact-card-item">
                            <svg class="contact-card-icon mail">
                                <use xlink:href="assets/sprites/icons.svg#mail"></use>
                            </svg>
                            <a href="mailto:best@bestgroup.ru" class="link">best@bestgroup.ru</a>
                        </div>
                    </div>
                    <div class="contact-card-items">
                        <div class="contact-card-item">
                            <svg class="contact-card-icon web">
                                <use xlink:href="assets/sprites/icons.svg#web"></use>
                            </svg>
                            <a href="bestgroup.ru" target="_blank" class="link">bestgroup.ru</a>
                        </div>
                    </div>
                    <ul class="socials">
                        <li>
                            <a href="" class="vk" target="_blank">
                                <svg>
                                    <use xlink:href="assets/sprites/icons.svg#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="" class="facebook" target="_blank">
                                <svg>
                                    <use xlink:href="assets/sprites/icons.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="company-info-text">
                    <h2>Бестъ. Коммерческая недвижимость</h2>
                    <div class="company-info-text-content">
                        <div class="company-info-text-top">
                            <div class="company-infoblock">
                                <div class="caption">Вид деятельности</div>
                                <h5 class="company-infoblock-title">Агентство недвижимости</h5>
                            </div>
                            <div class="company-infoblock">
                                <div class="caption">Организационная форма</div>
                                <h5 class="company-infoblock-title">Общество с ограниченной ответственностью</h5>
                            </div>
                        </div>
                        <div class="company-infoblock company-infoblock-text">
                            <div class="caption">Информация о компании</div>
                            <p>Группа компаний «БестЪ» основана в 1997 году и является одной из ведущих инвестиционно-девелоперских компаний на Северо-Западе России.</p>
                            <p>Основной вид деятельности: брокер сделок коммерческой недвижимости. Предоставляет полный спектр услуг на рынке коммерческой недвижимости от первичного формирования объекта до его последующей продажи, сдачи в аренду. В функции компании входит консалтинг на рынке коммерческой недвижимости, оценка, маркетинговые исследования, выработка концепций строящихся объектов и реконцепция существующих.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
            </div>
        </div>
    </div>
    <app-card-carousel [header]="'Персоны'" [smallHeader]="true"></app-card-carousel>
    <div class="materials">
        <h3 class="materials-title">Объекты</h3>
        <app-card-layout [cards]="objectCards"></app-card-layout>
    </div>
    <div class="materials">
        <h3 class="materials-title">Материалы о компании</h3>
        <app-card-layout [cards]="materialCards"></app-card-layout>
    </div>
</div>
