<div class="container">
  <div class="page-topline" *ngIf="screen !== 'sm'">
    <a [routerLink]="['/companies']" class="h5">Компании</a>
    <div class="page-topline-element">
      Есть неточность?
    </div>
  </div>
  <div class="company-info">
    <div class="row">
      <div class="col-xl-3 col-lg-5 col-md-8 offset-md-2 offset-lg-0 order-xl-0 order-lg-1">
        <h1 class="title" *ngIf="screen === 'sm'">{{ company.name }}</h1>
        <div class="contact-card">
          <div class="contact-card-img">
            <app-responsive-image [xl]="company.logoXl" [lg]="company.logoLg" [md]="company.logoMd" [xs]="company.logoSm" [sm]="company.logoSm"></app-responsive-image>
          </div>
          <div class="contact-card-items">
            <div class="contact-card-item">
              <svg class="contact-card-icon geolocation">
                <use xlink:href="assets/sprites/icons.svg#map_pin"></use>
              </svg>
              <span>{{ company.address }}</span>
            </div>
          </div>
          <div class="contact-card-items" *ngIf="company.phone">
            <div class="contact-card-item">
              <svg class="contact-card-icon phone">
                <use xlink:href="assets/sprites/icons.svg#phone"></use>
              </svg>
              <a [href]="'tel:' + (company.phone | phoneFormat)" class="link contact-card-phone">{{ company.phone }}</a>
            </div>
          </div>
          <div class="contact-card-items" *ngIf="company.email">
            <div class="contact-card-item">
              <svg class="contact-card-icon mail">
                <use xlink:href="assets/sprites/icons.svg#mail"></use>
              </svg>
              <a [href]="'mailto:' + company.email" class="link">{{ company.email }}</a>
            </div>
          </div>
          <div class="contact-card-items" *ngIf="company.site">
            <div class="contact-card-item">
              <svg class="contact-card-icon web">
                <use xlink:href="assets/sprites/icons.svg#web"></use>
              </svg>
              <a [href]="company.site" target="_blank" class="link">{{ company.site | domain}}</a>
            </div>
          </div>
          <ul class="socials">
            <li *ngIf="company.vkontakteLink">
              <a [href]="company.vkontakteLink" class="vk" target="_blank">
                <svg>
                  <use xlink:href="assets/sprites/icons.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li *ngIf="company.facebookLink">
              <a [href]="company.facebookLink" class="facebook" target="_blank">
                <svg>
                  <use xlink:href="assets/sprites/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li *ngIf="company.telegramLink">
              <a [href]="company.telegramLink" class="telegram" target="_blank">
                <svg>
                  <use xlink:href="assets/sprites/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li *ngIf="company.twitterLink">
              <a [href]="company.twitterLink" class="twitter" target="_blank">
                <svg>
                  <use xlink:href="assets/sprites/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 order-xl-1 order-lg-0">
        <div class="company-info-text">
          <h1 class="h2">{{ company.name }}</h1>
          <div class="company-info-text-content">
            <div class="company-info-text-top">
              <div class="company-infoblock">
                <div class="caption">Вид деятельности</div>
                <h5 class="company-infoblock-title">{{ company.activityName }}</h5>
              </div>
              <div class="company-infoblock">
                <div class="caption">Организационная форма</div>
                <h5 class="company-infoblock-title">{{ company.organizationForm }}</h5>
              </div>
            </div>
            <div class="company-infoblock company-infoblock-text">
              <div class="caption">Информация о компании</div>
              <div [innerHTML]="company.description | paragraphs"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-7 order-xl-2 order-lg-2">
        <div class="company-map">
          <angular-yandex-map [center]="[company.latitude, company.longitude]" [zoom]="17">
            <angular-yandex-placemark
              [geometry]="[company.latitude, company.longitude]"
              [options]="placemarkOptions"
            ></angular-yandex-placemark>
          </angular-yandex-map>
        </div>
      </div>
    </div>
  </div>
  <div class="materials" *ngIf="persons && persons.length > 0">
    <h3 class="materials-title">Персоны</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let person of persons">
        <app-person-card [person]="person"></app-person-card>
      </div>
    </div>
  </div>
  <div class="materials" *ngIf="objects && objects.length > 0">
    <h3 class="materials-title">Объекты</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let object of objects">
        <app-object-card [object]="object"></app-object-card>
      </div>
    </div>
  </div>
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Статьи о компании</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6 result-card" *ngFor="let article of articles">
        <app-material-card [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
      </div>
    </div>
  </div>
</div>
