<div class="carousel-wrapper">
    <header class="carousel-header">
        <h3>
            {{ data.title | quotes }}
        </h3>
        <div class="control-buttons d-none d-md-flex">
            <div class="control-button"(click)="companyCarousel.swiper.slidePrev()">
                <svg class="icon">
                    <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
            </div>
            <div class="control-button" (click)="companyCarousel.swiper.slideNext()">
                <svg class="icon">
                    <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
            </div>
        </div>
    </header>
    <div class="carousel-container">
        <div class="swiper-container" [swiper]="config" #companyCarousel>
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of data.images">
                  <a [href]="image.url" rel="nofollow noopener" target="_blank">
                    <app-responsive-image [xl]="image.thumbXl" [lg]="image.thumbLg" [md]="image.thumbMd" [xs]="image.thumbSm" [sm]="image.thumbSm" [alt]="image.alt" [title]="image.title"></app-responsive-image>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
