<div class="news-wrapper">
    <ul class="news-feed">
        <li class="news-item">
            <a href="">
                <div class="date dark">Сегодня в 16:45</div>
                <div class="news-text">
                    <p>Застройщикам придётся реже проходить повторную экспертизу проектов</p>
                </div>
            </a>
        </li>
        <li class="news-item important">
            <a href="">
                <div class="date dark">Вчера в 11:25</div>
                <div class="news-text">
                    <p>Застройщикам придётся реже проходить повторную экспертизу проектов</p>
                </div>
            </a>
        </li>
        <li class="news-item">
            <a href="">
                <div class="date dark">9 мая, 14:32</div>
                <div class="news-text">
                    <p>На пешеходной Садовой улице в Мурино появится магазин</p>
                </div>
            </a>
        </li>
        <li class="news-item">
            <a href="">
                <div class="date dark">8 мая, 11:25</div>
                <div class="news-text">
                    <p>«БФА-Девелопмент» повышает стоимость квартир, реализуемых ею в ЖК «Леонтьевский Мыс»</p>
                </div>
            </a>
        </li>
        <li class="news-item important">
            <a href="">
                <div class="date dark">8 мая, 11:25</div>
                <div class="news-text">
                    <p>ГК «Лидер Групп» увеличивает до 100 000 рублей скидку для иногородних покупателей</p>
                </div>
            </a>
        </li>
        <li class="news-item">
            <a href="">
                <div class="date dark">8 мая, 23:35</div>
                <div class="news-text">
                    <p>Поправки к федеральному закону об охране памятников, подготовленные КГИОП, призваны упростить реконструкцию таких объектов.</p>
                </div>
            </a>
        </li>
        <li class="news-item">
            <a href="">
                <div class="date dark">8 мая, 12:48</div>
                <div class="news-text">
                    <p>За попытку получить взятку в миллион рублей задержан специалист Управления Росреестра по Петербургу Артём Абрамян</p>
                </div>
            </a>
        </li>
    </ul>
</div>