<div class="news-wrapper" #wrapper>
  <div class="card-header" *ngIf="card.title">
    <div class="h5">{{ card.title }}</div>
  </div>
  <ng-scrollbar
    class="custom-scrollbar"
    #scrollbarRef
  >
    <ul class="news-feed" #feed>
        <li class="news-item" [class.important]="article.hightlight" *ngFor="let article of card.articles">
            <a [routerLink]="['/' + article.id + '-' + article.slug]">
                <div class="date dark">{{ article.publishedAt * 1000 | niceDate }}, {{ article.publishedAt * 1000 | date: 'shortTime' }}</div>
                <div class="news-text">
                    <p>{{ article.title }}</p>
                </div>
            </a>
        </li>
    </ul>
  </ng-scrollbar>
<!--    <a [routerLink]="['']" class="link show-more" *ngIf="screen === 'sm' && false">-->
<!--        <span>Еще новости</span>-->
<!--        <svg class="icon">-->
<!--            <use xlink:href="assets/sprites/icons.svg#chevron_down"></use>-->
<!--        </svg>-->
<!--    </a>-->
</div>
