@import "theme";
@import "responsive";
:host {
  //overflow: hidden;
  //position: relative;
  //&:after {
  //  display: block;
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //}
}
.news-wrapper {
    max-height: 100%;
    @include media-breakpoint-down(sm) {
        padding: 12px;
      max-height: 250px;
    }
}


.news-feed {
    > * {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
    }
}

.news-item {
    padding-right: 16px;
    a {
        display: block;

        &:hover {
            text-decoration: none;

            .news-text {
                color: $primary-color;
            }
        }
    }



    &.important {
        font-weight: 600;

        .date {
            color: $important-color;
        }
    }

}

.news-text {
    color: $text-color;
    transition: color .2s ease;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}
.news-wrapper {
  display: flex;
  flex-direction: column;
}
.custom-scrollbar {

  ::ng-deep {
    .ng-scroll-content, .ng-scroll-viewport {
      max-width: 100%;
    }
  }

}
.card-header {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  margin-bottom: 16px;

  .h5 {
    color: $dark-gray;
  }
}
