@import "theme";
@import "variables/bootstrap";

.persons-row {
    margin-bottom: 48px;
}

app-extended-person-card {
    grid-column-end: span 3;
}

app-company-card {
    border: 1px solid $border-color;
    display: block;
}

.row {
    align-items: stretch;
}

[class^="col"] {
    > * {
        height: 100%;
        display: block;
    }
}