<div class="container">
    <div class="page-topline">
        <h5>Персоны</h5>
        <div class="page-topline-element">
            Есть неточность?
        </div>
    </div>
    <div class="persons-row row">
        <div class="col-xl-9 col-lg-8">
            <app-extended-person-card [person]="personConfig"></app-extended-person-card>
        </div>
        <div class="col-xl-3 col-lg-4">
            <app-company-card [company]="companyConfig"></app-company-card>
        </div>
    </div>
    <div class="materials">
        <h2 class="materials-title">Материалы с персоной</h2>
        <app-card-layout [cards]="cards"></app-card-layout>
    </div>
</div>
