<div class="container">
  <div class="page-topline" *ngIf="screen !== 'sm'">
    <a class="h5" [routerLink]="['/persons']">Персоны</a>
    <div class="page-topline-element">
<!--      Есть неточность?-->
    </div>
  </div>
  <h1 class="title">Персоны</h1>
  <div class="persons-content">
    <app-extended-person-card *ngIf="person" [person]="person"></app-extended-person-card>
    <app-company-card *ngIf="company" [company]="company"></app-company-card>
  </div>
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Материалы с персоной</h3>
    <div class="row cards-row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let article of articles">
        <app-material-card class="small" [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
      </div>
    </div>
  </div>
</div>
