@import "theme";

:host {
    margin-bottom: 48px;
    display: block;
}

.comments-filters {
    margin-bottom: 38px;
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    button {
        background-color: transparent;
        border: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 1.571;
        font-weight: 500;
        color: $dark-gray;

        &.active {
            font-weight: 700;
            color: $text-color;
        }
    }
}