<ng-container *ngFor="let block of blocks">
  <ng-container [ngSwitch]="block.type">
    <ng-container *ngSwitchCase="'text'">
      <app-text-block [content]="block.data.content" [highlight]="block.data.highlight"></app-text-block>
    </ng-container>
    <ng-container *ngSwitchCase="'banner_placeholder'">
      <app-article-banner [articleId]="entityId"></app-article-banner>
    </ng-container>
    <ng-container *ngSwitchCase="'company_card'">
      <ng-container [ngSwitch]="block.size">
        <ng-container *ngSwitchCase="'full-width'">
          <app-extended-company-card *ngIf="screen !== 'sm'" class="full-width"
                                     [company]="block.data"></app-extended-company-card>
          <app-company-card *ngIf="screen === 'sm'" class="full-width" [company]="block.data"></app-company-card>
        </ng-container>
        <app-company-card *ngSwitchCase="'float-left'" class="float-left" [company]="block.data"></app-company-card>
        <app-company-card *ngSwitchCase="'float-right'" class="float-right" [company]="block.data"></app-company-card>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'person_card'">
      <ng-container [ngSwitch]="block.size">
        <ng-container *ngSwitchCase="'full-width'">
          <app-extended-person-card *ngIf="screen !== 'sm'" class="full-width"
                                    [person]="block.data"></app-extended-person-card>
          <app-person-card *ngIf="screen === 'sm'" class="full-width" [person]="block.data"></app-person-card>
        </ng-container>
        <app-person-card *ngSwitchCase="'float-left'" class="float-left" [person]="block.data"></app-person-card>
        <app-person-card *ngSwitchCase="'float-right'" class="float-right" [person]="block.data"></app-person-card>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'apartment_complex_card'">
      <ng-container [ngSwitch]="block.size">
        <app-object-card *ngSwitchCase="'float-left'" class="float-left" [object]="block.data"></app-object-card>
        <app-object-card *ngSwitchCase="'float-right'" class="float-right" [object]="block.data"></app-object-card>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'video_card'">
      <ng-container [ngSwitch]="block.size">
        <app-video-card *ngSwitchCase="'full-width'" class="full-width" [size]="'small'"
                        [data]="block.data"></app-video-card>
        <app-video-card *ngSwitchCase="'float-left'" class="float-left"
                        [class.vertical]="block.data.size === 'medium-vertical'"
                        [size]="block.data.size !== 'medium-vertical' && screen !== 'sm' ? 'small' : block.data.size"
                        [data]="block.data"></app-video-card>
        <app-video-card *ngSwitchCase="'float-right'" class="float-right"
                        [class.vertical]="block.data.size === 'medium-vertical'"
                        [size]="block.data.size !== 'medium-vertical' && screen !== 'sm' ? 'small' : block.data.size"
                        [data]="block.data"></app-video-card>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'article_card'">
      <ng-container [ngSwitch]="block.size">
        <app-material-card *ngSwitchCase="'float-left'" class="float-left"
                           [class.vertical]="block.data.size === 'medium-vertical' && block.data.imageXl"
                           [class.short]="!block.data.imageXl && !block.data.smallImageXl"
                           [size]="block.data.size !== 'medium-vertical' && screen !== 'sm' ? 'small' : block.data.size"
                           [view]="block.data.view"
                           [data]="block.data"></app-material-card>
        <app-material-card *ngSwitchCase="'float-right'" class="float-right"
                           [class.vertical]="block.data.size === 'medium-vertical' && block.data.imageXl"
                           [class.short]="!block.data.imageXl && !block.data.smallImageXl"
                           [size]="block.data.size !== 'medium-vertical' && screen !== 'sm' ? 'small' : block.data.size"
                           [view]="block.data.view"
                           [data]="block.data"></app-material-card>
      </ng-container>
    </ng-container>
  <ng-container *ngSwitchCase="'quote'">
    <app-quote-block [quote]="block.data"></app-quote-block>
  </ng-container>
    <ng-container *ngSwitchCase="'html'">
      <div appDynamicRoutes [innerHTML]="block.data | safeHtml | externalLinks"></div>
    </ng-container>
    <ng-container *ngSwitchCase="'image'">
      <app-image-block
        [class.full-width]="block.size === 'full-width'"
        [class.float-left]="block.size === 'float-left'"
        [class.float-right]="block.size === 'float-right'"
        [data]="block.data"></app-image-block>
    </ng-container>
    <ng-container *ngSwitchCase="'location'">
      <app-location-block
        [class.full-width]="block.size === 'full-width'"
        [class.float-left]="block.size === 'float-left'"
        [class.float-right]="block.size === 'float-right'"
        [data]="block.data"></app-location-block>
    </ng-container>
    <ng-container *ngSwitchCase="'apartment_layout'">
      <app-apartment-info-block [data]="block.data"></app-apartment-info-block>
    </ng-container>
    <ng-container *ngSwitchCase="'gallery'">
      <app-full-width-image-carousel-block *ngIf="block.size === 'big'" [images]="block.data.images"></app-full-width-image-carousel-block>
      <app-image-carousel-block *ngIf="block.size === 'small'" [images]="block.data.images"></app-image-carousel-block>
    </ng-container>
    <ng-container *ngSwitchCase="'logo_gallery'">
      <app-company-carousel-block [data]="block.data"></app-company-carousel-block>
    </ng-container>
    <ng-container *ngSwitchCase="'event_registration'">
      <app-event-registration-block [data]="block.data"></app-event-registration-block>
    </ng-container>
    <ng-container *ngSwitchCase="'button-group'">
      <div class="button-block">
        <a *ngFor="let block of block.buttons" [href]="block.data.url" target="_blank" class="button" [class.primary]="block.data.color === 'primary'" [class.secondary]="block.data.color === 'secondary'">{{ block.data.text }}</a>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<!--<app-event-registration-block></app-event-registration-block>-->
