<ng-container *ngFor="let block of blocks">
    <ng-container [ngSwitch]="block.type">

        <ng-container *ngSwitchCase="'text'">
            <app-text-block [paragraphs]="block.paragraphs"></app-text-block>
        </ng-container>

        <ng-container *ngSwitchCase="'image'">
            <app-image-block [class.full-width]="block.size === 'big'" [image]="block.config"></app-image-block>
        </ng-container>
        
        <ng-container *ngIf="screen !== 'sm'"> <!-- Временно -->
            <ng-container *ngSwitchCase="'company'">
                <app-extended-company-card [company]="block.companyConfig"></app-extended-company-card>
            </ng-container>
        </ng-container>

         <ng-container *ngSwitchCase="'video'">
            <app-video-block [class.full-width]="block.configVideo.size === 'big'" [video]="block.configVideo"></app-video-block>
        </ng-container>

        <ng-container *ngSwitchCase="'quote'">
            <app-quote-block [quote]="block.quoteConfig"></app-quote-block>
        </ng-container>

        <ng-container *ngSwitchCase="'carousel'">
            <app-image-carousel-block [title]="block.title" [slides]="block.carouselContent"></app-image-carousel-block>
        </ng-container>

        <ng-container *ngSwitchCase="'map'">
            <app-location-block [source]="block.source"></app-location-block>
        </ng-container>

        <ng-container *ngSwitchCase="'card'">
            <app-material-card [class.short]="block.cardSize === 'short'" class="block-card" [size]="'small'" [view]="'default'"></app-material-card>
        </ng-container>
       
    </ng-container>
</ng-container>
