@import "responsive";

:host {
    > * {
        display: block;
    }
}

app-image-block, app-video-block, .block-card {
    float: left;
    position: relative;
    top: 7px;
    width: 400px;
    margin: 0 32px 18px 0;

    &.full-width {
        top: 0;
        margin: 0 0 32px;
        width: 100%;
        float: none;
    }

    @include media-breakpoint-down(lg) {
        width: 300px;
        margin: 0 20px 20px 0;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        top: 0;
        margin: 0 0 24px;
        float: none;
    }
}

app-extended-company-card {
    margin-bottom: 40px;

    @include media-breakpoint-only(lg) {
        ::ng-deep {
            .company-contacts {
                column-gap: 10px;

                .company-contact {
                    > * {
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

}

app-video-block {
    height: 225px;

    &.full-width {
        height: 464px;
    }

    @include media-breakpoint-down(sm) {
        height: 180px;
    }
}

app-quote-block, app-image-carousel-block {
    margin-bottom: 32px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
    }
}

app-location-block {
    margin-bottom: 40px;
}

.block-card {
    width: 304px;
}