@import "theme";
@import "responsive";
.pagination {
    display: flex;
    align-items: center;
    @include media-breakpoint-only(sm) {
      justify-content: center;
    }
    .pages {
        display: flex;

        a {
            color: $text-color;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid transparent;
            box-sizing: border-box;
            font-size: 17px;
            font-family: 'Montserrat', sans-serif;

            &:not(:last-child) {
                margin-right: 9px;
            }

            &.active {
                border-color: $secondary-color;
            }
        }
    }
    .nav {
        a {
            color: $text-color;
            font-size: 17px;
            margin-left: 23px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}
