<div class="pagination" *ngIf="pages.length > 1">
  <div class="pages">
    <a [attr.aria-label]="'Перейти на страницу ' + page" [routerLink]="['./']" [queryParams]="prepareParams(page > 1 ? page : null)" *ngFor="let page of pages" [ngClass]="{'active': current === page}">{{ page }}</a>
  </div>
  <div class="nav">
    <a aria-label="Перейти на предыдушую страницу" *ngIf="current > 1" [routerLink]="['./']" [queryParams]="prepareParams(current - 1)">Назад</a>
    <a aria-label="Перейти на следующую страницу" *ngIf="current < pagesCount" [routerLink]="['./']" [queryParams]="prepareParams(current + 1)">Вперед</a>
  </div>
</div>
