<div class="container">
    <div class="page-top">
        <header class="inner-page-header">
            <h1>Власть</h1>
            <button type="button" class="page-topline-element">
                Сбросить настройки
            </button>
        </header>
        <div class="filters">
            <ul class="tags">
                <li class="tag" *ngFor="let tag of tags">
                    <a href="/">#{{ tag }}</a>
                </li>
            </ul>
            <div class="date-filter">
                <input 
                    class="data-hidden-input"
                    (dateInput)="entryDate($event)" 
                    [matDatepicker]="picker1" 
                    placeholder="Choose a date"
                >
                <div class="datepicker" (click)="picker1.open()">
                    <mat-datepicker #picker1></mat-datepicker>
                    <svg class="datepicker-icon">
                        <use xlink:href="assets/sprites/icons.svg#calendar"></use>
                    </svg>
                    <span class="datepicker-range">{{ entryDateValue | date: 'M/d/yy' }}</span>
                </div>
                <button class="clear-date">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="materials">
        <app-card-layout 
            [cards]="screen === 'xl' ? cards.resolutions.desktop : 
                    screen === 'lg' ? cards.resolutions.smallDesktop : 
                    screen === 'md' ? cards.resolutions.tablet : 
                    null"
        ></app-card-layout>
    </div>
</div>
    