<div class="registration-block" *ngIf="allowEventRegistration" [id]="'event-' + data.id + '-registration-block'">
    <div class="registrations-headings">
        <h3 class="top-heading">Регистрация на мероприятие:</h3>
        <h3 *ngIf="!showLink" class="primary">{{ data.name }}</h3>
        <a *ngIf="showLink" [href]="data.site" target="_blank" rel="nofollow noopener" class="h3 primary">{{ data.name }}</a>
    </div>
    <div class="registration-info">
        <div class="registration-info-item">
            <div class="caption">Адрес проведения</div>
            <p>{{ data.address }}</p>
        </div>
        <div class="registration-info-item right">
            <div class="caption">Дата проведения</div>
            <p>{{ eventDisplayDate }}</p>
        </div>
    </div>
    <form [formGroup]="formGroup" [appServerSideValidation]="formErrors" (submit)="submit()"  class="modal-form">
        <app-text [placeholder]="'Имя, фамилия'" [formControlName]="'name'" class="modal-control"></app-text>
        <app-text [placeholder]="'Должность'" [formControlName]="'position'" class="modal-control"></app-text>
        <app-text [placeholder]="'Компания'" [formControlName]="'company_name'" class="modal-control full-width"></app-text>
        <app-text [placeholder]="'Номера телефона'" [formControlName]="'phone'" class="modal-control"></app-text>
        <app-text [placeholder]="'E-mail'" [formControlName]="'email'" class="modal-control"></app-text>
        <app-checkbox [label]="'Согласен на'" [dataProcessingText]="'обработку данных'" [formControlName]="'agree'"></app-checkbox>
        <button type="submit" class="button secondary submit-button" *ngIf="!showConfirm">Зарегистрироваться</button>
        <div *ngIf="showConfirm">Ваша заявка успешно отправлена</div>
    </form>
</div>
