<div class="apartment">
    <div class="apartment-image" (click)="openModal()">
      <app-responsive-image [xl]="data.thumbXl" [lg]="data.thumbLg" [md]="data.thumbMd" [xs]="data.thumbSm" [sm]="data.thumbSm" [alt]="data.alt" [title]="data.title"></app-responsive-image>
    </div>
    <div class="apartment-content">
        <div class="aparment-info">
            <div class="apartment-info-item rooms-number">
                <div class="apartment-number">{{ data.roomsCount }}</div>
                <div class="apartment-info-text">Комнаты</div>
            </div>
            <div class="apartment-info-item area">
                <div class="apartment-number">{{ data.area | number:'.2-2' }}</div>
                <div class="apartment-info-text">Площадь, м<sup>2</sup></div>
            </div>
            <div class="apartment-info-item apartment-price">
                <div class="apartment-number">{{ data.price | number }} &#8381;</div>
                <div class="apartment-info-text">Стоимость</div>
            </div>
        </div>
        <div class="apartment-text" *ngIf="data.description" [innerHTML]="data.description | paragraphs">
        </div>
    </div>
</div>
