<div class="apartment">
    <div class="apartment-image" (click)="openModal()">
      <app-responsive-image [xl]="data.thumbXl" [lg]="data.thumbLg" [md]="data.thumbMd" [xs]="data.thumbSm" [sm]="data.thumbSm" [alt]="data.alt" [title]="data.title"></app-responsive-image>
    </div>
    <div class="apartment-content">
        <div class="aparment-info">
            <div class="apartment-info-item rooms-number">
                <div class="apartment-number">{{ data.roomsCount }}</div>
                <div class="apartment-info-text">
                  <ng-container [ngSwitch]="data.roomsCount">
                    <ng-container *ngSwitchCase="'С'">
                      Студия
                    </ng-container>
                    <ng-container *ngSwitchCase="1">
                      Комната
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                      Комнаты
                    </ng-container>
                    <ng-container *ngSwitchCase="3">
                      Комнаты
                    </ng-container>
                    <ng-container *ngSwitchCase="4">
                      Комнаты
                    </ng-container>
                    <ng-container *ngSwitchCase="5">
                      Комнат
                    </ng-container>
                    <ng-container *ngSwitchCase="6">
                      Комнат
                    </ng-container>
                    <ng-container *ngSwitchCase="7">
                      Комнат
                    </ng-container>
                    <ng-container *ngSwitchCase="8">
                      Комнат
                    </ng-container>
                    <ng-container *ngSwitchCase="9">
                      Комнат
                    </ng-container>
                  </ng-container>
                </div>
            </div>
            <div class="apartment-info-item area">
                <div class="apartment-number">{{ data.area | number:'.2-2' }}</div>
                <div class="apartment-info-text">Площадь, м<sup>2</sup></div>
            </div>
            <div class="apartment-info-item apartment-price" *ngIf="data.price">
                <div class="apartment-number">{{ data.price | number }} &#8381;</div>
                <div class="apartment-info-text">Стоимость</div>
            </div>
        </div>
        <div class="apartment-text" *ngIf="data.description" [innerHTML]="data.description | paragraphs | quotes">
        </div>
    </div>
</div>
