@import "theme";
@import "../cards/card-common.scss";
@import "variables/bootstrap";

.carousel-wrapper {
    margin-bottom: 48px;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.carousel-header-text {
    display: flex;
    align-items: flex-end;

    > * {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.carousel-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: darken($primary-color, 5%);
    line-height: 2;
    transition: opacity .2s ease;

    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &:hover {
        text-decoration: none;
        opacity: 0.75;
    }

    svg {
        width: 7px;
        height: 12px;
        fill: darken($primary-color, 5%);
    }
}