<div class="carousel-wrapper">
    <header class="carousel-header">
        <h2>
            <a href="/" class="carousel-link">
                <span>{{ header }}</span>
                <svg class="arrow-icon">
                    <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
            </a>
        </h2>
        <div class="control-buttons" (click)="cardCarousel.swiper.slidePrev()">
            <div class="control-button">
                <svg class="icon">
                    <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
            </div>
            <div class="control-button" (click)="cardCarousel.swiper.slideNext()">
                <svg class="icon">
                    <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
            </div>
        </div>
    </header>
    <div class="swiper-container" [swiper]="carouselConfig" #cardCarousel>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <app-material-card [size]="'small'" [cardType]="'default'"></app-material-card>
            </div>
            <div class="swiper-slide">
                <app-material-card [size]="'small'" [cardType]="'backgroundImage'"></app-material-card>
            </div>
            <div class="swiper-slide">
                <app-advertising-card [size]="'small'"></app-advertising-card>
            </div>
            <div class="swiper-slide">
                <app-material-card [size]="'small'" [cardType]="'backgroundImage'"></app-material-card>
            </div>
            <div class="swiper-slide">
                <app-material-card [size]="'small'" [cardType]="'default'"></app-material-card>
            </div>
            <div class="swiper-slide">
                <app-material-card [size]="'small'" [cardType]="'default'"></app-material-card>
            </div>
        </div>
    </div>
</div>
