<div class="carousel-wrapper">
  <header class="carousel-header">
    <div class="carousel-header-left">
      <h2 [class.is-small]="smallHeader">
        <a [routerLink]="[data.slug]" *ngIf="data.slug" class="carousel-link">
          <span>{{ data.title }}</span>
          <svg class="arrow-icon">
            <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
          </svg>
        </a>
        <span *ngIf="!data.slug" class="carousel-title">
          <span>{{ data.title }}</span>
        </span>
      </h2>
      <ul class="carousel-tabs" *ngIf="data.links">
        <li
          class="carousel-tab"
          *ngFor="let link of data.links; let index = index"
        >
          <a [routerLink]="link.link" target="_blank" rel="nofollow noopener">{{ link.title }}</a>
        </li>
      </ul>
    </div>
    <div class="control-buttons" *ngIf="screen !== 'sm' && data.cards.length > carouselConfig.slidesPerView">
        <div class="control-button" (click)="cardCarousel.swiper.slidePrev()">
            <svg class="icon">
                <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
            </svg>
        </div>
        <div class="control-button" (click)="cardCarousel.swiper.slideNext()">
            <svg class="icon">
                <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
            </svg>
        </div>
    </div>
  </header>
  <div class="swiper-container" [swiper]="carouselConfig" #cardCarousel>
    <div class="swiper-wrapper">
      <div class="swiper-slide"  *ngFor="let card of data.cards">
        <ng-container [ngSwitch]="card.type">
          <app-material-card class="small" *ngSwitchCase="'article'" [size]="'small'" [view]="card.view" [data]="card"></app-material-card>
          <app-video-card *ngSwitchCase="'video'" [size]="'small'" [data]="card"></app-video-card>
          <app-advertising-card *ngSwitchCase="'advertising'" [size]="'small'"></app-advertising-card>
          <app-person-card [person]="card" *ngSwitchCase="'person'"></app-person-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
