@import "theme";
@import "responsive";

:host {
  display: block;
  //height: 74px;
}

.top-line-advertising {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //z-index: 100;
  //height: 74px;

  a {
    background-color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .close {
    z-index: 101;
    width: 28px;
    height: 28px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.top-line-advertising-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $light-gray;
  height: 100%;
  padding: 16px 32px;

  > * {
    &:not(:last-child) {
      margin-right: 16px;
    }

    @include media-breakpoint-only(sm) {
      font-size: 11px;
      padding: 7px 12px;
      line-height: 1.2;
    }
  }

  @include media-breakpoint-only(sm) {
    padding: 16px;
  }
}

.not-inited {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.container {
  @include media-breakpoint-only(sm) {
    padding: 0;
  }
}
//.iframe-container {
//  overflow: hidden;
//  @include media-breakpoint-up(md) {
//    padding-top: 100px; /* 16:9*/
//  }
//  @include media-breakpoint-only(sm) {
//    padding-top: 22%;
//  }
//  position: relative;
//  iframe {
//    border: 0;
//    height: 100%;
//    left: 0;
//    position: absolute;
//    top: 0;
//    width: 100%;
//  }
//}
iframe {
  overflow: hidden;
  @include media-breakpoint-up(md) {
    height: 100px;
  }
  @include media-breakpoint-only(xl) {
    width: 1240px;
  }
  @include media-breakpoint-only(lg) {
    width: 932px; // Нужно заменить на 928
  }
  @include media-breakpoint-only(md) {
    width: 712px;
  }
  @include media-breakpoint-only(sm) {
    width: 768px;
    min-width: 768px;
    height: 170px;
  }
}
