<div class="carousel-wrapper">
    <div class="control-buttons">
        <div class="control-button" (click)="cardCarousel.swiper.slidePrev()" *ngIf="screen !== 'sm'">
            <svg class="icon">
                <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
            </svg>
        </div>
        <div class="control-button" (click)="index < images.length - 2 ? cardCarousel.swiper.slideNext() : null;" *ngIf="screen !== 'sm'">
            <svg class="icon">
                <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
            </svg>
        </div>
    </div>
    <div class="swiper-container" [swiper]="carouselConfig" [(index)]="index" #cardCarousel>
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of images" (click)="openModal(index)">
              <app-responsive-image [lazyLoad]="false"  [xl]="image.thumbXl" [lg]="image.thumbLg" [md]="image.thumbMd" [xs]="image.thumbSm" [sm]="image.thumbSm" [alt]="image.alt" [title]="image.title"></app-responsive-image>
            </div>
            <div class="swiper-slide">
<!--              Пустой слайд чтобы последний можно было разглядеть без белого градиента-->
            </div>
        </div>
    </div>
</div>
