@import "responsive";

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 32px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  transition: opacity 300ms linear;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.loading {
  opacity: 0.3;
}
