<div class="company-card">
    <div class="company-img">
      <app-responsive-image [xl]="company.logoXl" [lg]="company.logoLg" [md]="company.logoMd" [xs]="company.logoSm"
                            [sm]="company.logoSm"  [alt]="company.logoAlt"  [title]="company.logoTitle"></app-responsive-image>
    </div>
    <div class="company-content">
        <h4 class="company-title">{{ company.name }}</h4>
        <div class="company-text">
            <p>{{ company.description }}</p>
        </div>
        <div class="company-contacts">
            <div class="company-contact" *ngIf="company.phone">
                <div class="company-contact-icon">
                    <svg class="phone">
                        <use xlink:href="assets/sprites/icons.svg#phone"></use>
                    </svg>
                </div>
                <a [href]="'tel:' + ( company.phone | phoneFormat )" class="company-phone link">{{ company.phone }}</a>
            </div>
            <div class="company-contact" *ngIf="company.site">
                    <div class="company-contact-icon">
                        <svg class="web">
                            <use xlink:href="assets/sprites/icons.svg#web"></use>
                        </svg>
                    </div>
                    <a class="link" [href]="company.site">{{ company.site }}</a>
                </div>
            <div class="company-contact" *ngIf="company.email">
                <div class="company-contact-icon">
                    <svg class="mail">
                        <use xlink:href="assets/sprites/icons.svg#mail"></use>
                    </svg>
                </div>
                <a class="link" href="mailto:{{ company.email }}">{{ company.email }}</a>
            </div>
        </div>
    </div>
</div>
