<div class="company-card">
    <div class="company-img">
      <a [target]="openInNewWindow ? '_blank' : '_self'" [routerLink]="['/companies/', company.id + '-' + company.slug]">
        <app-responsive-image [xl]="company.logoXl" [lg]="company.logoLg" [md]="company.logoMd" [xs]="company.logoSm"
                              [sm]="company.logoSm"  [alt]="company.logoAlt"  [title]="company.logoTitle"></app-responsive-image>
      </a>
    </div>
    <div class="company-content">
        <a [target]="openInNewWindow ? '_blank' : '_self'" [routerLink]="['/companies/', company.id + '-' + company.slug]" class="h4 company-title" [innerHTML]="company.name | quotes"></a>
        <div class="company-text">
            <p [innerHTML]="company.description | quotes"></p>
        </div>
        <div class="company-contacts">
            <div class="company-contact" *ngIf="company.phone">
                <div class="company-contact-icon">
                    <svg class="phone">
                        <use xlink:href="assets/sprites/icons.svg#phone"></use>
                    </svg>
                </div>
                <a [href]="'tel:' + ( company.phone | phoneFormat )" class="company-phone link">{{ company.phone }}</a>
            </div>
            <div class="company-contact" *ngIf="company.site">
                    <div class="company-contact-icon">
                        <svg class="web">
                            <use xlink:href="assets/sprites/icons.svg#web"></use>
                        </svg>
                    </div>
                    <a class="link" [href]="company.site" target="_blank" rel="nofollow noopener">{{ company.site | domain }}</a>
                </div>
            <div class="company-contact" *ngIf="company.email">
                <div class="company-contact-icon">
                    <svg class="mail">
                        <use xlink:href="assets/sprites/icons.svg#mail"></use>
                    </svg>
                </div>
                <a class="link" href="mailto:{{ company.email }}">{{ company.email }}</a>
            </div>
            <div class="company-contact">
                <div class="company-contact-icon">
                    <svg class="person">
                        <use xlink:href="assets/sprites/icons.svg#clear"></use>
                    </svg>
                </div>
                <a [target]="openInNewWindow ? '_blank' : '_self'" class="link" [routerLink]="['/companies', 'activity', company.activityId]">{{ company.activityName }}</a>
            </div>
        </div>
    </div>
</div>
