<div class="container">
    <div class="page-top">
        <header class="inner-page-header">
            <h1>Жилые комплексы</h1>
        </header>
        <ul class="categories">
            <li class="categories-item" *ngFor="let category of categories">
                <a href="/" class="categories-link">{{ category }}</a>
            </li>
        </ul>
    </div>
    <div class="materials">
        <app-card-layout 
            [cards]="screen === 'xl' ? cards.resolutions.desktop : 
                    screen === 'lg' ? cards.resolutions.smallDesktop : 
                    screen === 'md' ? cards.resolutions.tablet : 
                    null"
        ></app-card-layout>
    </div>

    <app-news-slider [size]="news.length"></app-news-slider> <!-- Большой слайдер есть, по остальным додумаю как лучше сделать -->
    
    <app-tabs-card-carousel [header]="'Технология строительства'" [tabs]="config"></app-tabs-card-carousel>
</div>
