@import "theme";
@import "responsive";

.page-top {
    padding-bottom: 0;
}
.materials.with-margin {
  @include media-breakpoint-only(sm) {
    margin-top: 12px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 24px;
  }
}
.categories {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 16px 0 rgba(8,26,63,0.14);
    border-radius: 4px;
    padding: 8px;

    // @include media-breakpoint-only(lg) {
    //     max-width: 100%;
    // }

    @include media-breakpoint-only(sm) {
        box-shadow: 0;
        padding: 3px 0 3px;
    }
}

.categories-item {
    white-space: nowrap;

    &:not(:last-child) {
        margin-right: 4px;
    }

    &.active {
        .categories-link {
            background-color: $primary-color;
            color: $light-color;
            text-decoration: none;
        }
    }
}

.categories-link {
    display: inline-block;
    padding: 10px 16px;
    color: $dark-gray;
    border-radius: 4px;
    transition: background-color .2s ease, color .2s ease;

    &:hover {
        background-color: $primary-color;
        color: $light-color;
        text-decoration: none;
    }

    @include media-breakpoint-only(sm) {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
        line-height: 1.571;
    }
}

app-news-slider {
    display: block;
    margin-bottom: 48px;

    @include media-breakpoint-down(sm) {
        margin: 0 12px 24px;
    }
}

.materials {
    @include media-breakpoint-down(sm) {
        ::ng-deep {
            app-material-card {
                margin: 0 12px;
            }
        }
    }
}

.mobile-categories {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    .categories {
        width: 100%;
        flex-wrap: nowrap;
    }
}

.pick-up-button {
    padding: 16px 12px;

    .button {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        font: 500 14px/1.43 'Montserrat', sans-serif;
    }
}
