<div class="container top-container">
  <div class="page-top" *ngIf="project.slug !== ''">
    <header class="inner-page-header">
      <h1>{{ project.title }}</h1>
    </header>
    <ul class="categories" *ngIf="menu.length > 0 && screen !== 'sm'">
      <li
        class="categories-item"
        *ngFor="let menuElement of menu"
        [class.active]="menuElement.highlight"
      >
        <a [routerLink]="[menuElement.slug]" class="categories-link">{{ menuElement.name }}</a>
      </li>
    </ul>
    <!-- mobile categories -->
    <div class="mobile-categories" *ngIf="screen === 'sm'">
      <ng-scrollbar
        class="horizontal-scrollbar"
        track="horizontal"
        #scrollbarRef
        (reachedEnd)="hideRightControl()"
      >
        <ul class="categories" *ngIf="menu.length > 0">
          <ng-container *ngFor="let menuElement of menu; let i = index">
            <li
              class="categories-item"
              [class.active]="menuElement.highlight"
              *ngIf="i !== 0"
            >
              <a [routerLink]="[menuElement.slug]" class="categories-link">{{ menuElement.name }}</a>
          </li>
          </ng-container>
        </ul>
      </ng-scrollbar>
      <div class="gradient-control control-left" *ngIf="showLeftControl">
        <div class="control-button small light" (click)="scrollbarRef.scrollTo({ left: (scrollPosition - 150) })">
            <svg class="icon">
                <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
            </svg>
        </div>
      </div>
      <div class="gradient-control control-right" *ngIf="showRightControl">
        <div class="control-button small light" (click)="scrollbarRef.scrollTo({ left: (scrollPosition + 150) })">
            <svg class="icon">
                <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
            </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="materials">
    <app-card-layout
      [cards]="project.layout[screen]"
    ></app-card-layout>
  </div>

  <app-news-slider *ngFor="let feed of project.newsBlocks" [feed]="feed" [size]="1"></app-news-slider>
  <!-- Большой слайдер есть, по остальным додумаю как лучше сделать -->
  <app-card-carousel [data]="collection" *ngFor="let collection of project.collections"></app-card-carousel>
</div>
