@import "theme";
@import "responsive";

.footer {
    background-color: $light-gray;
}

// Верхняя панель
.footer-top {
    padding: 40px 0 41px;
    border-bottom: 1px solid $border-color;
    position: relative;
}

.logo {
    margin-bottom: 40px;
}

.certificate {
    font-size: 14px;
    line-height: 1.57;
}

.footer-title {
    color: $dark-gray;
    margin-bottom: 32px;
    font-weight: 400;
}

.footer-links {
    column-count: 2;
    margin-bottom: -24px;

    @include media-breakpoint-only(md) {
        margin-bottom: 40px;
    }

    li {
        margin-bottom: 24px;
    } 
    
    a {
        display: inline-block;
        color: $text-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        
        transition: color .2s ease;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }
}

.footer-item {
    display: flex;
    flex-direction: column;

    &.content-center {
        align-items: center;
    }

    &.content-end {
        align-items: flex-end;
        text-align: right;

        @include media-breakpoint-only(md) {
            align-items: center;
            text-align: center;
        }
    }
}

.footer-content {
    max-width: 310px;
    width: 100%;
}

.socials {
    margin-bottom: auto;
    margin-top: auto;
    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

// Нижняя панель
.footer-bottom {
    padding: 24px 0 32px;

    @include media-breakpoint-only(md) {
        padding: 24px 0 16px;
    }

    .footer-item {
        font-size: 13px;
        line-height: 1.69;

        @include media-breakpoint-only(md) {
            &.footer-age {
                margin-bottom: 0;
            }

            margin-bottom: 16px;
        }
    }

    .content-center {
        .footer-bottom-text {
            max-width: 350px;
        }
    }

}

.copyright-text {
    margin-bottom: 16px;
    font-weight: 600;
}

.footer-age {
    p {
       font-family: 'Montserrat', sans-serif;
        line-height: 1.385;
        font-size: 26px; 
    }
}

.padding-left {
    padding-left: 58px;
}