@import "../card-common.scss";
@import "responsive";

:host {
    display: block;
}

.card-wrapper {
    padding: 0 16px 12px 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;

    &.highlight {
        padding: 0 18px 18px;
        border: 6px solid $secondary-color;
    }

    &.vertical, &.large {
        .card-link {
            height: calc(50% - 16px);
            overflow: hidden;
        }
    }
  &.vertical {
    .card-link {
      &:first-child {
        margin-bottom: 32px;
      }
    }
  }
  &.horizontal, &.large {
    .card-link {
      width: calc(50% - 16px);
      &:nth-child(odd) {
        margin-right: 32px;
      }
    }
  }
  &.large {
    .card-link {
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 32px;
      }
    }
  }

}

.swiper-slide {
    display: flex;
    flex-wrap: wrap;
}

.swiper-container {
    max-width: 100%;
    flex: 1;
}

.card-header {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    margin-bottom: 16px;

    .h5 {
        color: $dark-gray;
    }
}

.card-text {
    color: $dark-gray;

    @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.54;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }
}

.h5 {
    color: $text-color;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}

.h6 {
    margin-bottom: 16px;
    color: $text-color;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }

}

.card-link {
    height: 100%;
    display: flex;
    flex-direction: column;

    .h5 {
        margin-bottom: 8px;
    }

    &:hover {
        text-decoration: none;

        .h5, .h6, .card-text {
            color: $primary-color;
        }
    }
}

.card-footer {
    margin-top: auto;
}
