<ng-container [ngSwitch]="cardType">
  <ng-container *ngSwitchCase="'default'">
    <ng-container [ngSwitch]="size">
      <ng-container *ngSwitchCase="'small'">
        <div class="card-wrapper">
          <div class="background-element">
            <svg>
              <use xlink:href="assets/sprites/icons.svg#element"></use>
            </svg>
          </div>
          <header class="card-header">
            <h5>Знак вопроса</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="smallMaterial.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="smallMaterial.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #smallMaterial>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="" class="card-link">
                  <h6>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h6>
                  <div class="card-text">
                    <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                  </div>
                  <footer class="card-footer">
                    1 - 3
                  </footer>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="" class="card-link">
                  <h6>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.</h6>
                  <div class="card-text">
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Предложения образ подзаголовок языком речью журчит.</p>
                  </div>
                  <footer class="card-footer">
                    1 - 3
                  </footer>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'medium-horizontal'">
        <div class="card-wrapper">
          <div class="background-element">
            <svg>
              <use xlink:href="assets/sprites/icons.svg#element"></use>
            </svg>
          </div>
          <header class="card-header">
            <h5>Знак вопроса</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="horizontalMaterial.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="horizontalMaterial.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #horizontalMaterial>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                    <div class="card-text">
                      <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Как вы себе представляете «школу будущего»? Насколько важен «образовательный фактор» для покупателей жилья?</h5>
                    <div class="card-text">
                      <p>Беслан Берсиров, Эдуард Тиктинский, Елена Коваленко и другие</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                    <div class="card-text">
                      <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Как вы себе представляете «школу будущего»? Насколько важен «образовательный фактор» для покупателей жилья?</h5>
                    <div class="card-text">
                      <p>Беслан Берсиров, Эдуард Тиктинский, Елена Коваленко и другие</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'medium-vertical'">
        <div class="card-wrapper vertical">
          <div class="background-element">
            <svg>
              <use xlink:href="assets/sprites/icons.svg#element"></use>
            </svg>
          </div>
          <header class="card-header">
            <h5>Знак вопроса</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="verticalMaterial.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="verticalMaterial.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #verticalMaterial>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="" class="card-link">
                  <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                  <div class="card-text">
                    <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                  </div>
                </a>
                <a href="" class="card-link">
                  <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                  <div class="card-text">
                    <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                  </div>
                </a>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'large'">
        <div class="card-wrapper large">
          <header class="card-header">
            <h5>А это вы читали?</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="largeMaterial.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="largeMaterial.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #largeMaterial>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                    <div class="card-text">
                      <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Как вы себе представляете «школу будущего»? Насколько важен «образовательный фактор» для покупателей жилья?</h5>
                    <div class="card-text">
                      <p>Беслан Берсиров, Эдуард Тиктинский, Елена Коваленко, Алексей Князев, Владимир Трекин и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                    <div class="card-text">
                      <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Как вы себе представляете «школу будущего»? Насколько важен «образовательный фактор» для покупателей жилья?</h5>
                    <div class="card-text">
                      <p>Беслан Берсиров, Эдуард Тиктинский, Елена Коваленко, Алексей Князев, Владимир Трекин и другие</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                    <div class="card-text">
                      <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Как вы себе представляете «школу будущего»? Насколько важен «образовательный фактор» для покупателей жилья?</h5>
                    <div class="card-text">
                      <p>Беслан Берсиров, Эдуард Тиктинский, Елена Коваленко, Алексей Князев, Владимир Трекин и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Верховный суд уточнил правила раздела недвижимости при разводе. Панацея ли брачный контракт?</h5>
                    <div class="card-text">
                      <p>Надежда Зотова, Александр Рубан, Наталья Юрчис, Дарья Филина, Юлия Комбарова и другие</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Как вы себе представляете «школу будущего»? Насколько важен «образовательный фактор» для покупателей жилья?</h5>
                    <div class="card-text">
                      <p>Беслан Берсиров, Эдуард Тиктинский, Елена Коваленко, Алексей Князев, Владимир Трекин и другие</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'readBlock'">
    <ng-container [ngSwitch]="size">
      <ng-container *ngSwitchCase="'small'">
        <div class="card-wrapper readBlock">
          <header class="card-header">
            <h5>А это вы читали?</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="smallReadBlock.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="smallReadBlock.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #smallReadBlock>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="" class="card-link">
                  <h5>Оптимизация по-фински</h5>
                  <div class="card-text">
                    <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                  </div>
                </a>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'medium-horizontal'">
        <div class="card-wrapper readBlock">
          <header class="card-header">
            <h5>А это вы читали?</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="horizontalReadBlock.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="horizontalReadBlock.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #horizontalReadBlock>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'medium-vertical'">
        <div class="card-wrapper readBlock">
          <header class="card-header">
            <h5>А это вы читали?</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="verticalReadBlock.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="verticalReadBlock.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #verticalReadBlock>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="" class="card-link">
                  <h5>Оптимизация по-фински</h5>
                  <div class="card-text">
                    <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                  </div>
                </a>
                <a href="" class="card-link">
                  <h5>Благодатный тандем</h5>
                  <div class="card-text">
                    <p>«Тандем-Истейт» уступила участок с проектом жилого комплекса на Благодатной улице фирме «КВС»е</p>
                  </div>
                </a>
                <a href="" class="card-link">
                  <h5>Korabli отчалили</h5>
                  <div class="card-text">
                    <p>Смольный расторг договор аренды по участкам на Смоленке, где хотели построить МФК Korabli с апартаментами</p>
                  </div>
                </a>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
              <div class="swiper-slide">
                <a href="" class="card-link">
                  <h5>Оптимизация по-фински</h5>
                  <div class="card-text">
                    <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                  </div>
                </a>
                <a href="" class="card-link">
                  <h5>Благодатный тандем</h5>
                  <div class="card-text">
                    <p>«Тандем-Истейт» уступила участок с проектом жилого комплекса на Благодатной улице фирме «КВС»е</p>
                  </div>
                </a>
                <footer class="card-footer">
                  3 - 6
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'large'">
        <div class="card-wrapper readBlock">
          <header class="card-header">
            <h5>А это вы читали?</h5>
            <div class="control-buttons">
              <div class="control-button small" (click)="largeReadBlock.swiper.slidePrev()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
                </svg>
              </div>
              <div class="control-button small" (click)="largeReadBlock.swiper.slideNext()">
                <svg class="icon">
                  <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
                </svg>
              </div>
            </div>
          </header>
          <div class="swiper-container" [swiper]="materialListConfig" #largeReadBlock>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
              <div class="swiper-slide">
                <div class="columns">
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                  <a href="" class="card-link">
                    <h5>Оптимизация по-фински</h5>
                    <div class="card-text">
                      <p>ЮИТ сворачивает работу в Москве, Московской области и Ростове-на-Дону, уходит с рынка подряда и дорожного строительства</p>
                    </div>
                  </a>
                </div>
                <footer class="card-footer">
                  1 - 3
                </footer>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

