<div class="card-wrapper" [class.with-gradient]="withGradient" [class.highlight]="highlight" [class.horizontal]="size === 'medium-horizontal'" [class.vertical]="size === 'medium-vertical'" [class.large]="size === 'large'">
  <header class="card-header">
    <div class="h5" *ngIf="!url">{{ title }}</div>
    <a class="h5" target="_blank" [href]="url" *ngIf="url">{{ title }}</a>
    <div class="control-buttons" *ngIf="blockSizes[size] < articleLength">
      <div class="control-button small" (click)="carousel.swiper.slidePrev()">
        <svg class="icon">
          <use xlink:href="assets/sprites/icons.svg#chevron_left"></use>
        </svg>
      </div>
      <div class="control-button small" (click)="carousel.swiper.slideNext()">
        <svg class="icon">
          <use xlink:href="assets/sprites/icons.svg#chevron_right"></use>
        </svg>
      </div>
    </div>
  </header>
  <div class="swiper-container" [swiper]="materialListConfig" #carousel *ngIf="inited" [@fadeInOut]>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let block of blocks">
        <a [routerLink]="['/' + article.id + '-' + article.slug]" class="card-link" *ngFor="let article of block">
          <div class="h6" [innerHTML]="article.title | quotes"></div>
          <div class="card-text" [innerHTML]="article.previewText | quotes"></div>
        </a>
      </div>
    </div>
  </div>
</div>
