<!--  <button class="close" hidden>-->
<!--    <svg>-->
<!--      <use xlink:href="assets/sprites/icons.svg#close"></use>-->
<!--    </svg>-->
<!--  </button>-->
<div class="banner" #banner *ngIf="(data.bannerType === 'image' && data.images[screen]) || (data.bannerType === 'html' && data.html[screen])">
  <a #link [href]="data.url" rel="nofollow noopener" *ngIf="data" target="_blank" (click)="incClick()" [style.height]="(screen === 'sm' && data?.bannerType === 'html') ? getBannerHeight() + 'px' : null">
    <ng-container *ngIf="data.bannerType === 'image' && data.images[screen]">
      <app-responsive-image [xl]="data.images.xl" [lg]="data.images.lg" [md]="data.images.md"
                            [xs]="data.images.sm" [sm]="data.images.sm"></app-responsive-image>
    </ng-container>
    <ng-container *ngIf="data.bannerType === 'html' && data.html[screen]">
      <iframe [src]="data.html[screen] + '?instance_id=' + id  | safeUrl" frameborder="0" [style.transform]="getScale()"></iframe>
      <div class="touch-panel"></div>
    </ng-container>
  </a>
</div>

