<div class="container top-container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12">
        <main class="quotes-main">
          <div class="page-top">
              <header class="inner-page-header">
                <h1>Архив цитат</h1>
              </header>
              <app-search [shortVersion]="true" [placeholder]="'Поиск цитаты'" (apply)="applySearch($event)"></app-search>
          </div>
          <div class="quotes">
            <ng-container *ngFor="let quote of quotes">
              <app-quote-block [quote]="quote"></app-quote-block>
            </ng-container>
          </div>
          <app-pagination [size]="12" [count]="quotesCount"></app-pagination>
        </main>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-8 offset-xl-1 offset-lg-0 offset-md-2" *ngIf="screen !== 'sm'">
        <aside class="content-sidebar">
          <app-material-list-card [size]="'small'" [view]="'default'"
                                  [class]="'small'"
        ></app-material-list-card>
          <app-advertising-card [size]="'small'" [class]="'small'"></app-advertising-card>
          <app-material-list-card [size]="'medium-vertical'" [view]="'readBlock'"
                                  [class]="'medium-vertical'"
        ></app-material-list-card>
        </aside>
      </div>
    </div>
</div>
