<div class="container top-container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12">
        <main class="quotes-main">
          <div class="page-top">
              <header class="inner-page-header">
                <h1>Архив цитат</h1>
              </header>
              <app-search [shortVersion]="true" [placeholder]="'Поиск цитаты'" (apply)="applySearch($event)"></app-search>
          </div>
          <div class="quotes">
            <ng-container *ngFor="let quote of quotes">
              <app-quote-block [quote]="quote"></app-quote-block>
            </ng-container>
          </div>
          <app-pagination [size]="12" [count]="quotesCount"></app-pagination>
        </main>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-8 offset-xl-1 offset-lg-0 offset-md-2 d-none d-md-block">
        <aside class="content-sidebar">
          <ng-container *ngFor="let card of asideCards">
            <ng-container [ngSwitch]="card.type">
              <ng-container *ngSwitchCase="'article-list'">
                <app-material-list-card [size]="'medium-vertical'" [highlight]="card.highlight"
                                        [data]="card"
                ></app-material-list-card>
              </ng-container>
              <!--            <ng-container *ngSwitchCase="'latest-news'">-->
              <!--              <app-latest-news-card-->
              <!--                [articles]="card.articles"></app-latest-news-card>-->
              <!--            </ng-container>-->
            </ng-container>
          </ng-container>
        </aside>
      </div>
    </div>
</div>
