@import "variables/bootstrap";
@import "responsive";

:host {
    display: block;
    margin-bottom: 36px;
}

.quotes {
    margin-bottom: 48px;
    > * {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
}

.quotes-main {
    @include media-breakpoint-only(md) {
        margin-bottom: 40px;
    }
}