@import "theme";
@import "responsive";

:host {
    display: block;
    border-bottom: 1px solid $light-color;
}

.page-cards {
    margin-bottom: 0;
    padding-bottom: 64px;

    .row {

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 24px;
    }

}

.materials {
    margin-bottom: 48px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
    }
  }

.materials-title {
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

.items-number {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 29px;
    height: 22px;
    padding: 0 6px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.54;
}

.all-results {
    margin-left: auto;

    a {
        color: $primary-color;

        &:hover {
            text-decoration: none;
        }
    }

}
app-pagination {
  display: block;
  margin-top: 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 12px;
    margin-right: 12px;
  }
}
