<div class="container top-container">
    <div class="page-top">
        <header class="inner-page-header">
            <h1>Результаты поиска</h1>
            <button type="button" class="page-topline-element">
                Сбросить фильтр
            </button>
        </header>
        <app-search
            [selectFirst]="{placeholder: 'Тип', attribute: 'type_id', options: options}"
            [placeholder]="'Поиск объекта по названию или фирме'"
            [datepicker]="true"
        ></app-search>
    </div>
</div>

<div class="page-cards">
    <div class="container">
        <div class="materials">
            <h2 class="materials-title">
                <span>Материалы</span>
                <div class="items-number">3</div>
            </h2>
            <app-card-layout [cards]="materials"></app-card-layout>
        </div>
        <div class="materials">
            <h2 class="materials-title">
                <span>Интервью</span>
                <div class="items-number">2</div>
            </h2>
            <app-card-layout [cards]="interviews"></app-card-layout>
        </div>
        <div class="materials">
            <h2 class="materials-title">
                <span>Объекты</span>
                <div class="items-number">4</div>
            </h2>
            <app-card-layout [cards]="objectCards"></app-card-layout>
        </div>
        <h2 class="materials-title">
            <span>Персоны</span>
            <div class="items-number">28</div>
            <h5 class="all-results">
                <a [routerLink]="['']">Все результаты</a>
            </h5>
        </h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <app-pagination [size]="4" [count]="15"></app-pagination>
    </div>
</div>

<!-- <div class="container">
    <div class="materials">
        <h2 class="materials-title">Популярные материалы</h2>
        <app-card-layout
            [cards]="screen === 'xl' ? cards.resolutions.desktop :
                    screen === 'lg' ? cards.resolutions.smallDesktop :
                    screen === 'md' ? cards.resolutions.tablet :
                    null"
        ></app-card-layout>
    </div>
</div> -->
