<div class="container">
    <div class="page-top">
        <header class="inner-page-header">
            <h1>Результаты поиска</h1>
            <button type="button" class="page-topline-element">
                Сбросить фильтр
            </button>
        </header>
        <app-search 
            [selectFirst]="selectConfig1" 
            [placeholder]="'Поиск объекта по названию или фирме'"
            [datepicker]="true"
        ></app-search>
    </div>
</div>
<div class="page-cards">
    <div class="container">
        <h2 class="materials-title">
            <span>Персоны</span> 
            <div class="items-number">28</div>
        </h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 persons-card" *ngFor="let person of persons">
                <app-person-card [person]="person"></app-person-card>
            </div>
        </div>
        <app-pagination [size]="4" [count]="15"></app-pagination>
    </div>
</div>

<!-- <div class="container">
    <div class="materials">
        <h2 class="materials-title">Популярные материалы</h2>
        <app-card-layout 
            [cards]="screen === 'xl' ? cards.resolutions.desktop : 
                    screen === 'lg' ? cards.resolutions.smallDesktop : 
                    screen === 'md' ? cards.resolutions.tablet : 
                    null"
        ></app-card-layout>
    </div>
</div> -->
