@import "../card-common.scss";
@import "responsive";

:host {
  display: block;
  @include media-breakpoint-only(sm) {
    display: block;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    > * {
      position: absolute !important;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.card-wrapper {
    padding: 16px;
    overflow: hidden;
    &:hover {
        .card-overlay {
            background-color: rgba($text-color, 0.8);
        }

        .background-img {
            transform: scale(1.1);
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 12px;
    }
}

.card-overlay {
    background-color: rgba($text-color, 0.7);
}

.card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    height: 100%;
}

.card-text {
    color: $light-color;
    padding-left: 8px;
    max-width: 460px;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}

.card-title {
    position: relative;
    margin-bottom: 9px;

    .h3 {
        position: relative;
    }

    //&::before {
    //    content: '';
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 48px;
    //    height: 48px;
    //    background-color: $important-color;
    //    top: 50%;
    //    transform: translateY(-50%);
    //    z-index: 0;
    //}
}

.views-icon {
    width: 18px;
    height: 12px;
}

.background-img {
  transition: transform .2s ease;
}
