<a href="" class="card-wrapper">
    <div class="card-content">
        <div class="card-top static">
            <div class="date">Сегодня в 16:45</div>
            <div class="tag">
                <div class="emoji">🔥</div>
                <span>Первая полоса</span>
            </div>
        </div>
        <div class="card-text">
            <div class="card-title">
                <h3 class="light">Акулы отменяются</h3>
            </div>
            <p>
                Смольный официально отменил строительство океанариума в парке Интернационалистов
            </p>
        </div>
        <footer class="card-footer light">
            <div class="views">
                <svg class="views-icon">
                    <use xlink:href="assets/sprites/icons.svg#eye"></use>
                </svg>
                <span class="views-number">1 234</span>
            </div>
            <div class="category">
                Коммерческая недвижимость
            </div>
        </footer>
    </div>
    <div class="card-overlay"></div>
    <div class="background-img">
        <img src="https://picsum.photos/616/304" alt="front card image">
    </div>

</a>
