<a [routerLink]="['']" class="card-wrapper">
    <div class="card-content">
        <div class="card-top static" *ngIf="screen !== 'sm'">
            <div class="date">{{ data.articlePublishedAt * 1000 | niceDate }} в {{ data.articlePublishedAt * 1000 | date: 'shortTime' }}</div>
          <div class="tag" *ngIf="data.markerName">
            {{ data.markerName }}
          </div>
        </div>
        <div class="card-text">
            <div class="card-title"*ngIf="screen !== 'sm'">
                <div class="h3 light">{{ data.title }}</div>
            </div>
            <p>
                {{ data.previewText }}
            </p>
        </div>
        <footer class="card-footer light" *ngIf="screen !== 'sm'">
            <div class="views">
                <svg class="views-icon">
                    <use xlink:href="assets/sprites/icons.svg#eye"></use>
                </svg>
                <span class="views-number">{{ data.articleViewsCount | number }}</span>
            </div>
            <div class="category">
              {{ data.directoryName }}
            </div>
        </footer>
    </div>
    <div class="card-overlay"></div>
    <div class="background-img">
      <app-responsive-image [xl]="data.imageXl" [lg]="data.imageXl" [md]="data.imageXl" [xs]="data.smallImageSm ? data.smallImageSm : data.imageSm" [sm]="data.smallImageSm ? data.smallImageSm : data.imageSm" [alt]="data.imageAlt ? data.imageAlt : data.smallImageAlt" [title]="data.imageTitle ? data.imageTitle : data.smallImageTitle"></app-responsive-image>
    </div>

</a>
