:host {
  max-width: 656px;
  width: 100%;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  app-text {
    width: calc(50% - 12px);
  }

  app-textarea {
    width: 100%;
  }
}

.confirm-content {
  min-height: 416px;
}
