<div class="modal-content" *ngIf="!showConfirm">
  <ng-scrollbar class="custom-scrollbar" #scrollref>
    <div class="main-content">
      <h3 class="modal-title">Прислать новость</h3>
      <form [formGroup]="formGroup" [appServerSideValidation]="formErrors" class="modal-form" (submit)="submit()">
        <app-text [placeholder]="'Имя'" [formControlName]="'name'" class="modal-control"></app-text>
        <app-text [placeholder]="'E-mail'" [formControlName]="'email'" class="modal-control"></app-text>
        <app-textarea [placeholder]="'Текст новости'" [formControlName]="'content'" class="modal-control"></app-textarea>
        <div class="choose-file" *ngIf="false">
          <input type="file" hidden #fileInput (change)="onFileSelected($event)">
          <button class="pick-file" type="button" (click)="fileInput.click()">
            <svg>
                <use xlink:href="assets/sprites/icons.svg#ico-file"></use>
            </svg>
            <span>Прикрепить файл</span>
          </button>
          <div class="mobile-result-file" *ngIf="currentFileName && screen === 'sm'">{{ currentFileName }}</div>
          <div class="file-result" *ngIf="screen !== 'sm'">
            <div class="file-name" *ngIf="currentFileName">
              {{ currentFileName }}
            </div>
            <div class="file-size" *ngIf="currentFileName">
              (458 Кб)
            </div>
            <button class="clear-value" type="button" (click)="fileInput.value = currentFileName = ''">
              <svg>
                <use xlink:href="assets/sprites/icons.svg#close"></use>
              </svg>
            </button>
          </div>
        </div>
        <app-checkbox [label]="'Согласен на'" [dataProcessingText]="'обработку данных'" [formControlName]="'agree'"></app-checkbox>
        <button type="submit" class="button secondary">Отправить</button>
      </form>
    </div>
  </ng-scrollbar>
</div>

<div class="confirm-content" *ngIf="showConfirm">

  <div class="confirm-text">
    <h3 class="confirm-title">Новость отправлена. Спасибо</h3>
    <p>Новость будет опубликована, после проверки редактором</p>
  </div>

  <button type="submit" class="button secondary" (click)="close()">Понятно</button>
</div>

<button class="modal-close close" [class.dark]="!showConfirm" [class.confirm-content-close]="showConfirm" (click)="close()">
  <svg>
    <use xlink:href="assets/sprites/icons.svg#close"></use>
  </svg>
</button>
