<div class="modal-content" *ngIf="!showConfirm">
  <div class="main-content">
    <h3 class="modal-title">Прислать новость</h3>
    <form [formGroup]="formGroup" class="modal-form">
      <app-text [placeholder]="'Имя'" [formControlName]="'name'" class="modal-control"></app-text>
      <app-text [placeholder]="'E-mail'" [formControlName]="'email'" class="modal-control"></app-text>
      <app-textarea [placeholder]="'Текст новости'" [formControlName]="'text'" class="modal-control"></app-textarea>
      <app-checkbox [label]="'Согласен на'" [dataProcessingText]="'обработку данных'" [ngModel]="agree"></app-checkbox>
      <button type="submit" class="button secondary" (click)="showConfirm = true">Отправить</button>
    </form>
  </div>
</div>

<div class="confirm-content" *ngIf="showConfirm">

  <div class="confirm-content-bg">
    <svg>
      <use xlink:href="assets/sprites/icons.svg#logo_group"></use>
    </svg>
  </div>

  <div class="confirm-text">
    <h3 class="confirm-title">Новость отправлена. Спасибо</h3>
    <p>Новость будет опубликована, после проверки редактором</p>
  </div>

  <button type="submit" class="button secondary" (click)="close()">Понятно</button>
</div>

<button class="modal-close close" [class.dark]="!showConfirm" (click)="close()">
  <svg>
    <use xlink:href="assets/sprites/icons.svg#close"></use>
  </svg>
</button>
