<a [routerLink]="['/persons', person.id + '-' + person.slug]" class="person-card">
    <div class="person-img">
      <app-responsive-image [xl]="person.photoXl" [lg]="person.photoLg" [md]="person.photoMd" [xs]="person.photoSm" [sm]="person.photoSm" [title]="person.photoTitle" [alt]="person.photoAlt"></app-responsive-image>
    </div>
    <h5 class="person-name">
        <span class="person-surname">
            {{ person.lastName }}
        </span>
        {{ person.firstName }} {{ person.middleName }}
    </h5>
    <div class="person-text">
      {{ person.position }}
      <br>
      {{ person.companyName }}
    </div>
</a>
