@import "theme";

:host {
    display: block;
    margin-bottom: 32px;
}

.comments-list-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.show-more {
    font-weight: 700;
}

.logout {
    color: $primary-color;
    font-size: 13px;
    line-height: 1.538;
    margin-left: auto;
}