<app-comment *ngFor="let comment of comments | slice : startPage:paginationLimit" [comment]="comment"></app-comment>

<div class="comments-list-actions">
  <ng-container *ngIf="comments.length > paginationLimit">
    <button
      class="show-more"
      (click)="showMoreItems()"
      *ngIf="paginationLimit < comments.length; else showLess"
    >
      Показать все комментарии
    </button>
    <ng-template #showLess>
      <button class="show-more" (click)="showLessItems()">
        Свернуть комментарии
      </button>
    </ng-template>
  </ng-container>
  <button class="logout" *ngIf="auth.check()" (click)="auth.logout()">Выйти из аккаунта</button>
</div>
