@import "theme";
@import "variables/bootstrap";

.card-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(#{$grid-gutter-width} / 4); 
    grid-auto-rows: 304px;
    min-height: 0;
    min-width: 0;
    margin-bottom: 48px;
    grid-auto-flow: dense;

    > * {
        min-width: 0;
        height: initial;
    }

    app-front-card {
        grid-column: span 2;
    }
}

[ng-reflect-size="medium-horizontal"] {
    grid-column-end: span 2;
}

[ng-reflect-size="medium-vertical"] {
    grid-row-end: span 2;
}

[ng-reflect-size="large"] {
    grid-column-end: span 2;
    grid-row-end: span 2;
}