@import "theme";
@import "responsive";
@import "variables/bootstrap";

:host {
    ::ng-deep {
        .page-top .search-select {
            flex: 0 0 285px;
            width: 285px;

            @include media-breakpoint-down(md) {
                flex: 0 0 215px;
                width: 215px;
            }
        }
    }
}
app-company-card {
  display: block;
}

.companies-text {
    margin-bottom: 40px;

    h5 {
        margin-bottom: 16px;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 1.571;
        }
    }

    p {
        color: $dark-gray;
        font-size: 14px;
        line-height: 1.571;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
            line-height: 1.5;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
        padding: 0 12px;
    }
}
app-pagination {
  display: block;
  margin-top: 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.materials {
  margin-bottom: 48px;

  @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
  }
}
//.materials:last-child {
//  margin-bottom: 0;
//}

.page-cards {
    &.no-margin-bottom {
        margin-bottom: 0;
    }
}
.cards-row {
  & > * {
    margin-top: 8px;
  }
}
