<div class="container top-container">
  <div class="page-top">
    <header class="inner-page-header">
      <h1>Компании</h1>
    </header>
    <app-search *ngIf="activities.length > 0"
                [selectFirst]="{placeholder: 'Вид деятельности', attribute: 'activity_id', options: activities}"
                [placeholder]="'Поиск по названию'" (apply)="applySearch($event)"></app-search>
  </div>
</div>
<div class="page-cards" *ngIf="companies.length > 0">
  <div class="container top-container">
    <div class="row cards-row d-none d-md-flex">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let company of companies">
        <app-company-card [company]="company"></app-company-card>
      </div>
    </div>

    <!-- mobile cards slider -->
    <app-mobile-cards-slider *ngIf="screen === 'sm'" [cards]="companies" [type]="'company'"></app-mobile-cards-slider>
    <app-pagination *ngIf="companiesCount > 12" [size]="12" [count]="companiesCount"></app-pagination>
  </div>

</div>

<div class="container">
  <div class="materials" *ngIf="articles && articles.length > 0">
    <h3 class="materials-title">Статьи</h3>
    <div class="row cards-row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let article of articles">
        <app-material-card class="small" [size]="'small'" [view]="article.view" [data]="article"></app-material-card>
      </div>
    </div>
  </div>
</div>

