<a [routerLink]="['/companies', company.id + '-' + company.slug]" class="company-card">
    <div class="company-img">
      <app-responsive-image [xl]="company.logoXl" [lg]="company.logoLg" [md]="company.logoMd" [xs]="company.logoSm"
                            [sm]="company.logoSm"  [alt]="company.logoAlt"  [title]="company.logoTitle"></app-responsive-image>
    </div>
    <div class="h5 company-title">]{{ company.name | quotes }}</div>
    <div class="company-contacts">
      <span *ngIf="company.phone" class="company-phone link">{{ company.phone }}</span>
      <br>
      <span *ngIf="company.site">{{ company.site | domain }}</span>
    </div>
    <div class="company-tag">{{ company.activityName }}</div>

</a>
