@import "theme";
@import "responsive";

.company-card {
    border: 1px solid #D7DDEA;
    padding: 28px 28px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $light-color;
    height: 100%;
    text-decoration: none;
    @include media-breakpoint-down(md) {
        justify-content: center;
    }
}
a {
  color: $text-color;
}
.company-img {
    display: flex;
    justify-content: center;
    //margin-bottom: 20px;
    height: 96px;

    ::ng-deep img {
        max-width: 200px;
        max-height: 96px;
        object-fit: cover;
    }
}

.company-title {
  margin-top: auto;
    //margin-bottom: 16px;
}

.company-contacts {
  margin-top: auto;
    //margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.571;
    margin-top: auto;

    @include media-breakpoint-down(md) {
        margin-top: initial;
    }
}

.company-phone {
    color: $text-color;
}

.company-tag {
    font-size: 13px;
    line-height: 1.538;
}
app-responsive-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
