@import "theme";

.company-card {
    padding: 28px 28px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.company-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
        max-height: 96px;
        object-fit: cover;
    }
}

.company-title {
    margin-bottom: 16px;
}

.company-contacts {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.571;
}

.company-phone {
    color: $text-color;
}

.company-tag {
    font-size: 13px;
    line-height: 1.538;
}