<div class="extended-person-card" *ngIf="!useLink">
    <div class="card-img">
      <app-responsive-image [xl]="person.photoXl" [lg]="person.photoLg" [md]="person.photoMd" [xs]="person.photoSm" [sm]="person.photoSm" [title]="person.photoTitle" [alt]="person.photoAlt"></app-responsive-image>
    </div>
    <div class="card-info">
        <div class="h2 person-name">{{ person.lastName }}<br>{{ person.firstName }} {{ person.middleName }}</div>
        <div class="person-position">
            <p>{{ person.position | quotes }}</p>
        </div>
        <div class="card-text" [innerHTML]="person.description | paragraphs | quotes"></div>
        <div class="card-contacts">
            <div class="card-phone" *ngIf="person.phone">
                <svg class="card-icon">
                    <use xlink:href="assets/sprites/icons.svg#phone"></use>
                </svg>
                <a [href]="'tel:' + ( person.phone | phoneFormat )">{{ person.phone }}</a>
            </div>
            <div class="card-email" *ngIf="person.email">
                <svg class="card-icon">
                    <use xlink:href="assets/sprites/icons.svg#mail"></use>
                </svg>
                <a class="link" [href]="'mailto:' + person.email">{{ person.email }}</a>
            </div>
        </div>
    </div>
</div>

<a class="extended-person-card" *ngIf="useLink" [routerLink]="['/persons', person.id + '-' + person.slug]">
  <div class="card-img">
    <app-responsive-image [xl]="person.photoXl" [lg]="person.photoLg" [md]="person.photoMd" [xs]="person.photoSm" [sm]="person.photoSm" [title]="person.photoTitle" [alt]="person.photoAlt"></app-responsive-image>
  </div>
  <div class="card-info">
    <div class="h2 person-name">{{ person.lastName }}<br>{{ person.firstName }} {{ person.middleName }}</div>
    <div class="person-position">
      <p>{{ person.position | quotes }}</p>
    </div>
    <div class="card-text" [innerHTML]="person.description | paragraphs | quotes"></div>
    <div class="card-contacts">
      <div class="card-phone" *ngIf="person.phone">
        <svg class="card-icon">
          <use xlink:href="assets/sprites/icons.svg#phone"></use>
        </svg>
        {{ person.phone }}
      </div>
      <div class="card-email" *ngIf="person.email">
        <svg class="card-icon">
          <use xlink:href="assets/sprites/icons.svg#mail"></use>
        </svg>
        {{ person.email }}
      </div>
    </div>
  </div>
</a>
