@import "theme";
@import "responsive";

.extended-person-card {
    display: flex;
    padding: 32px 40px 40px;
    align-items: center;
    height: 100%;
    border: 1px solid $border-color;

    @include media-breakpoint-down(lg) {
        padding: 15px;
    }

    @include media-breakpoint-only(md) {
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}

.card-img {
    flex-shrink: 0;
    margin-right: 40px;

    img {
        width: 226px;
        height: 226px;
        border-radius: 50%;
        object-fit: cover;
    }

    @include media-breakpoint-only(lg) {
        margin-right: 20px;

        img {
            width: 160px;
            height: 160px;
        }
    }

    @include media-breakpoint-only(md) {
        margin-right: 0;
        margin-bottom: 15px;

        img {
            width: 182px;
            height: 182px;
        }
    }
}

.person-name {
    margin-bottom: 8px;

    @include media-breakpoint-down(md) {
        font-size: 22px;
    }
}

.person-position {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 25px;

    @include media-breakpoint-down(md) {
        margin-bottom: 15px;
    }
}

.card-text {
    color: $dark-gray;
    margin-bottom: 45px;

    @include media-breakpoint-only(lg) {
        margin-bottom: 30px;
    }
}

.card-contacts {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.625;

    > * {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    @include media-breakpoint-only(lg) {
        > * {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        font-size: 15px;
    }
}

.card-icon {
    fill: $gray;
    margin-right: 20px;
}

.card-phone {

    a {
        color: $text-color;
    }

    .card-icon {
        width: 14px;
        height: 16px;
    }
}

.card-email {
    .card-icon {
        width: 16px;
        height: 12px;
    }
}