@import "theme";
@import "responsive";

.extended-person-card {
    display: flex;
    padding: 32px 40px 40px;
    align-items: center;
    height: 100%;
    border: 1px solid $border-color;

    @include media-breakpoint-down(lg) {
        padding: 15px;
        text-align: center;
        flex-direction: column;
    }
}

.card-img {
    flex-shrink: 0;
    margin-right: 40px;
    width: 226px;
    height: 226px;

    ::ng-deep {
        img {
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
    @include media-breakpoint-down(lg) {
        width: 160px;
        height: 160px;
    }
  
      @include media-breakpoint-down(lg) {
        margin-right: 0;
        margin-bottom: 15px;
        width: 182px;
        height: 182px;
    }
  
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        width: 120px;
        height: 120px;
    }
}

.person-name {
    margin-bottom: 8px;

    @include media-breakpoint-down(lg) {
        font-size: 22px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 15px;
    }
}

.person-position {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 25px;

    @include media-breakpoint-down(lg) {
        margin-bottom: 15px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}

.card-text {
    color: $dark-gray;
    margin-bottom: 45px;

    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.571;
    }
}

.card-contacts {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.625;

    > * {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    @include media-breakpoint-down(lg) {
        font-size: 15px;
        > * {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }


    @include media-breakpoint-down(sm) {
        justify-content: space-between;
        flex-direction: column;
        font-size: 14px;
        line-height: 1.571;

        > * {
            &:not(:last-child) {
                margin-right: 0;
            }

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}

.card-icon {
    fill: $gray;
    margin-right: 20px;
}

.card-phone {

    a {
        color: $text-color;
    }

    .card-icon {
        width: 14px;
        height: 16px;
    }
}

.card-email {
    .card-icon {
        width: 16px;
        height: 12px;
    }
}
