<div class="extended-person-card">
    <div class="card-img">
        <img src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="person">
    </div>
    <div class="card-info">
        <h2 class="person-name">{{ person.name }}</h2>
        <div class="person-position">
            <p>{{ person.position }}</p>
        </div>
        <div class="card-text">
            <p>
                {{ person.text }}
            </p>
        </div>
        <div class="card-contacts">
            <div class="card-phone">
                <svg class="card-icon">
                    <use xlink:href="assets/sprites/icons.svg#phone"></use>
                </svg>
                <a [href]="'tel:' + ( person.phone | phoneFormat )">{{ person.phone }}</a>
            </div>
            <div class="card-email">
                <svg class="card-icon">
                    <use xlink:href="assets/sprites/icons.svg#mail"></use>
                </svg>
                <a class="link" href="mailto:{{ person.email }}">{{ person.email }}</a>
            </div>
        </div>
    </div>
</div>
