// Этот файл подключается в theme.scss, здесь хранятся цвета, не относящиеся к фирменным
// В данном проекте это все цвета кроме blue и yellow. Названия переменных должны совпадать с названиями в макете, например $black-color

$text-color: #1A233A;
$light-color: #ffffff;
$important-color: #F14F4D;
$question-color: #50A85F;
$dark-gray: #5e6470;
$gray: #ADB6C7;
$light-gray: #F1F3F7;
$border-color:  #D7DDEA;
$raven-color: #686e7b;
