// Этот файл подключается в theme.scss, здесь хранятся цвета, не относящиеся к фирменным
// В данном проекте это все цвета кроме blue и yellow. Названия переменных должны совпадать с названиями в макете, например $black-color

$text-color: #1A233A;
$light-color: #ffffff;
$important-color: #F14F4D;
$question-color: #5BAF69;
$dark-gray: #5E6470;
$gray: #B2BED5;
$light-gray: #F0F5FF;
$border-color:  #D7DDEA;
$raven-color: #686E7B;
