// Здесь находятся стили для повторно используемых компонент из макета UI KIT. Hovers

.button {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: $primary-color;
    border-radius: 4px;
    color: $light-color;
    padding: 12px 23px;
    line-height: 1.6;
    text-align: center;

    &.light {
      background-color: $light-color;
      color: $dark-gray;
      padding: 10px 16px;
      font-size: 13px;

      &:hover {
        background-color: darken($light-color, 5%);
      }

      &:active {
        background-color: darken($light-color, 10%);
      }
    }

    &.secondary {
      background-color: $secondary-color;
      color: $text-color;
      padding: 17px 24px;
      font-size: 14px;

      &:hover {
        background-color: darken($secondary-color, 5%);
      }

      &:active {
        background-color: darken($secondary-color, 10%);
      }
    }
}

.button, .control-button, .search-button {
    cursor: pointer;
    border: 0;
    transition: background-color .2s ease;
    &:hover {
        background-color: lighten($primary-color, 15%);
    }

    &:active {
        background-color: lighten($primary-color, 7%);
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        opacity: 0.2;
        cursor: default;
    }
}

.control-button, .search-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 10px;
}

.search-button {
  padding: 8px;

  &.no-bg {
        background-color: transparent;

        .icon {
            fill: $primary-color;
        }
  }

    .icon {
        width: 16px;
        height: 16px;
        fill: $light-color;
    }
}

.control-buttons {
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.control-button {
    background-color: $primary-color;
    .icon {
        width: 100%;
        height: 100%;
        fill: $light-color;
    }

    &.small {
      width: 24px;
      height: 24px;
      padding: 6px;
    }

    &.light {
        background-color: transparent;
        border: 1px solid $border-color;

        .icon {
            fill: $gray;
        }

        &:hover {
            background-color: $light-color;

            .icon {
                fill: $primary-color;
            }
        }

        &:disabled {
            &:hover {
                background-color: transparent;

                .icon {
                    fill: $light-color;
                }
            }
        }

        &:active {
            background-color: darken($light-color, 10%);

            .icon {
                fill: $primary-color;
            }
        }
    }
}

.views {
    display: flex;
    align-items: center;
}

.views-icon {
    width: 16px;
    height: 10px;
    fill: $gray;
    margin-right: 8px;

    &.light {
        fill: $light-color;
    }
}

.image-overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0.08%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: $text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;

    svg {
        width: 8px;
        height: 8px;
        fill: $light-color;
    }

    &:focus {
        outline: 0;
        background-color: #000;
    }

  &.dark {
    svg {
      fill: $dark-gray;
    }
  }
}

.socials {
    display: flex;
    flex-wrap: wrap;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 48px;
        height: 48px;
        width: 48px;
        transition: background-color .2s ease;
        background-color: $light-gray;

        &:hover {
            svg {
                fill: $light-color;
            }
        }
    }

    svg {
        width: 18px;
        height: 18px;
        fill: $gray;
    }

    &.light {
        a {
            background-color: $light-color;
        }
    }
}

.vk {
    &:hover {
        background-color: #4A76A8 !important;
    }
}

.facebook {
    &:hover {
        background-color: #3A5998 !important;
    }
}

.telegram {
    &:hover {
        background-color: #1F9BDB !important;
    }
}

.twitter {
    &:hover {
        background-color: #42ABE1 !important;
    }
}

.instagram {
    &:hover {
        background-color: #B9189E !important;
    }
}

.logo {
    width: 210px;
    height: 42px;
    fill: $primary-color;
}

.logo-mini {
    width: 76px;
    height: 36px;
    fill: $primary-color;
    margin-right: 32px;
}

// start Модальные окна
.modal-content {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.16);
  background-color: $light-color;
  padding: 24px 40px 40px;
  border-left: 8px solid $primary-color;

}

.modal-close {
  top: 16px;
  right: 16px;
  width: 10px;
  height: 10px;
  background-color: transparent;

  svg {
    width: 10px;
    height: 10px;
  }

  &:focus {
    background-color: transparent;
  }
}

.modal-title {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 32px;
}

.modal-control {
  margin-bottom: 32px;

  &.full-width {
    width: 100% !important;
  }
}

.confirm-content {
  background-color: $primary-color;
  padding: 48px;
  color: $light-color;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;

  p {
    font-size: 17px;
    line-height: 1.705;
  }

  .button {
    flex-grow: 0;
  }

  .modal-close {
    svg {
      fill: $light-color;
    }
  }
}

.confirm-text {
  margin-bottom: 48px;
  position: relative;
}

.confirm-title {
  margin-bottom: 8px;
}

// end Модальные окна

// start Внутренние страницы
.page-top {
    padding-bottom: 48px;
}

.page-title {
    margin-bottom: 24px;
}

.page-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    h5 {
        color: $primary-color;
    }
}

.page-topline-info {
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.topline-info-item {
    font-size: 14px;
    line-height: 1.571;
    color: $dark-gray;
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.topline-icon {
    width: 16px;
    height: 11px;
    fill: $gray;
}

.topline-author {
    font-size: 15px;
    color: $text-color;
}

.page-topline-element {
    color: $dark-gray;
    font-size: 13px;
    line-height: 1.538;
    background-color: transparent;
    border: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    svg {
        margin-right: 8px;
    }
}

.inner-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

// end Внутренние страницы

// start Карточки внутренних страниц
.page-cards {
    background-color: $light-gray;
    padding: 48px 0;
    margin-bottom: 40px;
}

// end Карточки внутренних страниц

.materials-title {
    margin-bottom: 32px;
}

.arrow-icon {
    width: 8px;
    height: 13px;
}

.content-sidebar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $grid-gutter-width;
    grid-auto-rows: 304px;
    min-height: 0;
    min-width: 0;
    grid-auto-flow: dense;

    > * {
        min-width: 0;
        height: initial;
    }

    .medium-vertical {
        grid-row-end: span 2;
    }
}

// start Share Socials
.share-socials {
    display: flex;
    flex-wrap: wrap;

    > * {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

.share-social {
    a {
        display: block;
    }
}

.share-social-icon {
    width: 32px;
    height: 32px;
}
// end Share Socials

.date {
    margin-bottom: 8px;
    color: $dark-gray;
    font-size: 13px;
    line-height: 1.538;
    display: block;
}