// Здесь находятся стили для повторно используемых компонент из макета UI KIT. Hovers
@import "responsive";
@import "mixins/mouse";

.button {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: $primary-color;
    border-radius: 4px;
    color: $light-color;
    text-decoration: none !important;
    padding: 12px 23px;
    line-height: 1.6;
    text-align: center;

    &.light {
      background-color: $light-color;
      color: $dark-gray;
      padding: 10px 16px;
      font-size: 13px;

      @include mouse {
        &:hover {
            background-color: darken($light-color, 5%);
          }
      }

      &:active {
        background-color: darken($light-color, 10%);
      }
    }
    &.primary {
      color: $light-color !important;
    }
    &.secondary {
      background-color: $secondary-color;
      color: $text-color;
      padding: 17px 24px;
      font-size: 14px;

      @include mouse {
        &:hover {
            background-color: darken($secondary-color, 5%);
        }
      }

      &:active {
        background-color: darken($secondary-color, 10%);
      }
    }
}

.button, .control-button, .search-button {
    cursor: pointer;
    border: 0;
    transition: background-color .2s ease;

    @include mouse {
        &:hover {
            background-color: lighten($primary-color, 15%);
        }
    }

    &:active {
        background-color: lighten($primary-color, 7%);
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        opacity: 0.2;
        cursor: default;
    }
}

.control-button, .search-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 10px;
}

.search-button {
  padding: 8px;

  &.no-bg {
        background-color: transparent;

        .icon {
            fill: $primary-color;
        }
  }

    .icon {
        width: 16px;
        height: 16px;
        fill: $light-color;
    }
}

.control-buttons {
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.control-button {
    background-color: $primary-color;
    .icon {
        width: 100%;
        height: 100%;
        fill: $light-color;
    }

    &.small {
      width: 24px;
      height: 24px;
      padding: 6px;
    }

    &.white {
        background-color: transparent;
        border: 1px solid $light-color;

        .icon {
            fill: $light-color;
        }

        @include mouse {
            &:hover {
                background-color: $light-color;

                .icon {
                    fill: $primary-color;
                }
            }
        }

        &:disabled {
            @include mouse {
                &:hover {
                    background-color: transparent;

                    .icon {
                        fill: $light-color;
                    }
                }
            }
        }

        &:active {
            background-color: darken($light-color, 10%);

            .icon {
                fill: $primary-color;
            }
        }
    }

    &.light {
        background-color: transparent;
        border: 1px solid $border-color;

        .icon {
            fill: $gray;
        }

        @include mouse {
            &:hover {
                background-color: $light-color;

                .icon {
                    fill: $primary-color;
                }
            }
        }

        &:disabled {
            @include mouse {
                &:hover {
                    background-color: transparent;

                    .icon {
                        fill: $light-color;
                    }
                }
            }
        }

        &:active {
            background-color: darken($light-color, 10%);

            .icon {
                fill: $primary-color;
            }
        }
    }
}

.views {
    display: flex;
    align-items: center;
}

.views-icon {
    width: 16px;
    height: 10px;
    fill: $gray;
    margin-right: 8px;

    &.light {
        fill: $light-color;
    }
}

.image-overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0.08%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: $text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;

    svg {
        width: 8px;
        height: 8px;
        fill: $light-color;
    }

    &:focus {
        outline: 0;
        background-color: #000;
    }

  &.dark {
    svg {
      fill: $dark-gray;
    }
  }
}

.socials {
    display: flex;
    flex-wrap: wrap;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 48px;
        height: 48px;
        width: 48px;
        transition: background-color .2s ease;
        background-color: $light-gray;

        @include mouse {
            &:hover {
                svg {
                    fill: $light-color;
                }
            }
        }

        @include media-breakpoint-only(sm) {
            flex: 0 0 40px;
            height: 40px;
            width: 40px;
        }
    }

    svg {
        width: 18px;
        height: 18px;
        fill: $gray;
    }

    &.light {
        a {
            background-color: $light-color;
        }
    }
}

.vk {
    @include mouse {
        &:hover {
            background-color: #4A76A8 !important;
        }
    }
}

.facebook {
    @include mouse {
        &:hover {
            background-color: #3A5998 !important;
        }
    }
}

.telegram {
    @include mouse {
        &:hover {
            background-color: #1F9BDB !important;
        }
    }

}

.youtube {
  @include mouse {
    &:hover {
      background-color: #FF0402 !important;
    }
  }

}

.twitter {
    @include mouse {
        &:hover {
            background-color: #42ABE1 !important;
        }
    }
}

.instagram {
    @include mouse {
        &:hover {
            background-color: #B9189E !important;
        }
    }
}

.logo-link {
    margin-right: 10px;
}

.logo {
    width: 210px;
    height: 42px;
    fill: $primary-color;

    @include media-breakpoint-only(md) {
        width: 180px;
    }
}

.logo-mini {
    width: 76px;
    height: 36px;
    fill: $primary-color;
    margin-right: 32px;
}

.show-more {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.571;
    display: flex;
    align-items: center;
    color: $primary-color;

    svg {
        fill: $primary-color;
        width: 10px;
        height: 8px;
    }

    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

// start Модальные окна
.modal-content {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.16);
  background-color: $light-color;
  padding: 24px 40px 40px;
  border-left: 8px solid $primary-color;

    @include media-breakpoint-only(sm) {
        padding: 0;
        border-left: none;
    }
}

.modal-close {
  top: 16px;
  right: 16px;
  width: 10px;
  height: 10px;
  background-color: transparent;

  svg {
    width: 10px;
    height: 10px;
  }

  &:focus {
    background-color: transparent;
  }
}

.modal-title {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 32px;

    @include media-breakpoint-down(sm) {
        font-size: 15px;
        margin-bottom: 16px;
    }
}

.modal-control {
  margin-bottom: 32px;

  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
  }

  &.full-width {
    width: 100% !important;
  }
}

.confirm-content {
  background-color: $primary-color;
  padding: 48px;
  color: $light-color;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;

  p {
    font-size: 17px;
    line-height: 1.705;
  }

  .button {
    flex-grow: 0;
  }

  .modal-close {
    svg {
      fill: $light-color;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 24px;
  }
}

.confirm-text {
  margin-bottom: 48px;
  position: relative;
}

.confirm-title {
  margin-bottom: 8px;
}

// end Модальные окна

// start Внутренние страницы
.page-top {
    padding-bottom: 48px;

    @include media-breakpoint-down(sm) {
        padding-bottom: 24px;
    }
}

.page-title {
    margin-bottom: 24px;
}

.page-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }

    h5 {
        color: $primary-color;
    }

    a {
      color: $primary-color;
    }
}

.page-topline-info {
    display: flex;
    align-items: center;

    > * {
        &:not(:last-child) {
            margin-right: 40px;

            @include media-breakpoint-down(sm) {
                margin-right: 16px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;

        .topline-author {
            margin-right: auto;
        }
    }
}

.topline-info-item {
    font-size: 14px;
    line-height: 1.571;
    display: flex;
    align-items: center;

    &.info-views {
        color: $dark-gray;
    }

    &.topline-info-date {
        flex-shrink: 0;
    }

    > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.5;
    }
}

.topline-icon {
    width: 16px;
    height: 11px;
    fill: $gray;
}

.topline-author {
    font-size: 15px;
    color: $text-color;

    @include media-breakpoint-down(lg) {
        display: flex;
        flex-wrap: wrap;
    }

    @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.5;
    }
}

.page-topline-element {
    color: $dark-gray;
    font-size: 13px;
    line-height: 1.538;
    background-color: transparent;
    border: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    svg {
        margin-right: 8px;
    }
}

.inner-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
    }

    @include media-breakpoint-down(sm) {
        //display: none;
        margin: 12px 16px;
    }
}

// end Внутренние страницы

// start Карточки внутренних страниц
.page-cards {
    background-color: $light-gray;
    padding: 48px 0;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
        padding: 24px 0;
        margin-bottom: 24px;
    }
}


// end Карточки внутренних страниц

.materials {
    .card-layout app-material-card {
        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }
}

.cards-row {
    align-items: stretch;

    @include media-breakpoint-down(lg) {
        .row {
            margin-bottom: -$grid-gutter-width;
        }

        [class^="col"] {
            margin-bottom: $grid-gutter-width;
        }
    }
}

.cards-row div[class*="col-"], app-block-layout {
  app-company-card, app-person-card, app-object-card {
    height: 100%;
    display: block;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    > * {
      position: absolute !important;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.materials-title {
    margin-bottom: 32px;

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.arrow-icon {
    width: 8px;
    height: 13px;
}

.content-sidebar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $grid-gutter-width;
    grid-auto-rows: 304px;
    min-height: 0;
    min-width: 0;
    grid-auto-flow: dense;

    > * {
        min-width: 0;
        height: initial;
    }

    .medium-vertical {
        grid-row-end: span 2;
    }
}

// start Share Socials
.share-socials {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -12px;

    > * {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

.share-social {
  button {
    border: 0;
    background-color: transparent;
    padding: 0;
  }
    margin-bottom: 12px;

    a {
        display: block;
    }
}

.share-social-icon {
    width: 32px;
    height: 32px;
}
// end Share Socials

.date {
    margin-bottom: 8px;
    color: $dark-gray;
    font-size: 13px;
    line-height: 1.538;
    display: block;

    @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.5;
    }
}

// start Ngx Scrollbar
.custom-scrollbar {
    width: 100%;

    .ng-scrollbar-wrapper[deactivated=false]>scrollbar-y.scrollbar-control {
        width: 6px;
    }


    .ng-scrollbar-wrapper>scrollbar-y.scrollbar-control>.ng-scrollbar-track {
        height: 100%;
    }

    .ng-scrollbar-wrapper>scrollbar-y.scrollbar-control>.ng-scrollbar-track {
        border-radius: 0;
        width: 100%;
    }

    .ng-scrollbar-thumb {
        border-radius: 0;
        background-color: $gray;
    }

    .ng-scrollbar-wrapper[verticalDragging=true]>scrollbar-y.scrollbar-control .ng-scrollbar-thumb, .ng-scrollbar-wrapper[verticalHovered=true]>scrollbar-y.scrollbar-control .ng-scrollbar-thumb {
        background-color: $gray;
    }


}

.horizontal-scrollbar {
    width: 100%;

    ::ng-deep {
        .ng-scroll-content {
            width: 100%;
        }
    }

    .scrollbar-control {
        display: none !important;
    }
}

// стили для горизонтального скроллбара
.gradient-control {
    position: absolute;
    top: 0;
    height: calc(100% - 2px);
    width: 98px;
    display: flex;
    align-items: center;

    .control-button.light {
        svg {
            fill: $primary-color;
        }
    }

    &.control-left {
        left: 0;
        background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, #FFFFFF 58%);
        padding-left: 12px;
    }

    &.control-right {
        right: 0;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #FFFFFF 58%);
        padding-right: 12px;
        justify-content: flex-end;
    }
}

// .row {
//     @include media-breakpoint-down(sm) {
//         margin: 0;
//     }
// }

// div[class*="col-"] {
//     @include media-breakpoint-down(sm) {
//         padding: 0;
//     }
// }
