@import "theme";

.search-content {
    border-radius: 4px 4px 0 4px;
    box-shadow: 0 4px 16px 0 rgba(8,26,63,0.14);
    background: $light-color;
    display: flex;
}

.search-select {
    flex: 0 0 285px;
    width: 285px;
    border-right: 1px solid $border-color;
    padding: 16px 26px 16px 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .arrow-icon {
        transform-origin: 50% 50%;
        transform: rotate(90deg);
        fill: $primary-color;
    }
}

.select-active {
    user-select: none;
}


.search-form {
    position: relative;
    flex: 1;

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        padding: 11px 17px;
        font-size: 13px;
        line-height: 1.538;
    }
}

.search-icon {
    width: 16px;
    height: 16px;
    fill: $gray;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.search-control {
    padding: 17px 90px 17px 56px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: transparent;
    border: 0;
    color: $dark-gray;

    &:focus {
        outline: 0;
    }
}