@import "responsive";
app-article {
  display: block;
  @include media-breakpoint-up(md) {
    margin-top: 64px;
  }
  @include media-breakpoint-only(sm) {
    margin-top: 32px;
  }
  &:first-child {
    margin-top: 0;
  }
}
